[2015-01-09 09:33] JPomichael opened #1 "Support for Visual Studio 2012"
Not found wakatime in Visual Studio 2012(simplified Chinese) Extensions and Updates

![20150109173002](https://cloud.githubusercontent.com/assets/1901960/5677762/8714ccc6-9825-11e4-82e6-5e34c59c7f26.png)

[2015-01-09 21:17] alanhamlett commented on #1
Thanks, I'll look into it.

[2015-01-15 22:03] Donkie opened #2 "pythonw.exe crashes upon startup and project load (twice)"
It started happening since I installed wakatime, may it just be a coincidence?

I got Python 2.7 installed.

Visual Studio 2013 Professional
Windows 8.1

[2015-02-13 17:11] UnreachableCode opened #3 "Every VS Solution I open requires me to install python"
I'm not positive this is an issue but my understanding is that I'm meant to install python once in the root directory of windows and then Wakatime should just work without any extra setup but as it stands it keeps requiring me to have python installed in the same place. Did I mess something up with the install?

[2015-02-20 18:00] kidchenko opened #4 "Support for Visual Studio 2015"
:+1:

[2015-02-24 17:37] jonatasfreitasv commented on #1
+1

[2015-03-18 13:48] arpadszasz commented on #4
There is a quick workaround for this:

1. download the [WakaTime extension](https://visualstudiogallery.msdn.microsoft.com/ca0ea1f3-e824-4586-a73e-c8e4a65323d8) for VisualStudio
2. open the extension file `WakaTime.vsix` using [7-Zip File Manager](http://www.7-zip.org/) (it's just a ZIP archive)
3. edit the file `extension.vsixmanifest` changing all occurances of `InstallationTarget` like this: `<

[2015-03-19 04:25] kiide commented on #4
i can make an PR? haha

[2015-03-19 12:12] arpadszasz commented on #4
Using this hack, it installs on VS2015, but it does not send any data to WakaTime. So we'll have to wait for a official port. :smile:

[2015-03-20 00:55] alanhamlett commented on #4
That must mean it installs but doesn't run.

[2015-03-20 04:32] kiide commented on #4
:(

[2015-03-20 04:32] kiide commented on #4
@alanhamlett you has python?

[2015-03-20 04:34] kiide commented on #4
If I work in the official plugin and make a PR, you accept? (wakatime)

[2015-03-20 16:54] arpadszasz commented on #4
I had VS2013 with the WakaTime extension previously running on the same machine, before I switched to VS2015.

Today I uninstalled Python, the WakaTime extension from VS2015 and cleaned up all WakaTime related files from my home folder, reinstalled the modified extension again in VS2015. It installed Python and asked for the WakaTime API key on first run but it does not send any data to WakaTime s

[2015-03-22 04:58] kiide commented on #4
I will check it.

[2015-03-25 17:46] khaosdoctor opened #5 "Not working on 2013"
I installed like the readme says, the plugin starts, asks me for the API key but does not track anything.

Thanks!

[2015-03-25 20:50] jcalonso commented on #5
Same here, it ask for the api key every time I start VS and is not loggind anything.

[2015-03-25 21:21] alanhamlett commented on #3
Where is python installed on your machine currently? The plugin looks for python in C:\pythonXX where XX is your version of python. If it doesn't find python there, or in your PATH, then the plugin downloads and installs python.

Since it's doing that multiple times, can you find where the plugin is installing python?

[2015-03-25 21:21] alanhamlett commented on #5
Do you have a .wakatime.cfg file in your User home directory?

[2015-03-25 21:39] khaosdoctor commented on #5
Yes, I do. On the documents folder.

[2015-03-25 23:29] DerfOh commented on #5
Same here, API key is correct, latest version of Python is installed, and no dice... Tried running it on multiple machines, one with i7 and 16GB RAM, the other an i5 and 16GB RAM, both machines are running windows 8.1 with the latest updates. Not sure how much more information you might need...

[2015-03-25 23:30] khaosdoctor commented on #5
I've installed on another computer too and same problem. Other plugins such
as sublime and netbeans are working properly.
Em 25/03/2015 20:29, "Fredrick Paulin" <notifications@github.com> escreveu:

[2015-03-25 23:43] DerfOh commented on #5
I changed the debug field in the .wakatime.cfg file and this is the output in the .wakatime file:
`{"now": "2015/03/25 19:37:22 Eastern Daylight Time", "version": "4.0.4", "plugin": "sublime/3065 sublime-wakatime/3.0.13", "time": 1427326642.46566, "isWrite": true, "file": "C:\\Users\\Fredrick\\.wakatime.cfg", "level": "DEBUG", "message": "Traceback (most recent call last):\n  File \"C:\\Users\\Fre

[2015-03-25 23:49] DerfOh commented on #5
I changed the .wakatime.cfg debug property to true. The results generated only reflect changes within sublime text though:
`{"now": "2015/03/25 19:48:11 Eastern Daylight Time", "version": "4.0.4", "plugin": "sublime/3065 sublime-wakatime/3.0.13", "time": 1427327291.045555, "isWrite": true, "file": "C:\\Users\\Fredrick\\.wakatime.log", "level": "DEBUG", "message": "Sending heartbeat to api at https

[2015-03-26 01:40] jcalonso commented on #5
@alanhamlett Yes I have one:

[code]

[2015-03-26 05:16] PlatinumEagle commented on #5
+1, same problem.

**_Environment:_**
* Windows 8.1 Pro, 64-bit (I keep a VERY clean system):
* Visual Studio Ultimate 2013, Update 4
* Visual Studio Extensions:
    - WakaTime, v2.0.2
    - Web Essentials 2013 for Upate 4, v2.5.4
    - Productivity Power Tools 2013, v12.0.30519.1

**_Process I followed_** (using https://wakatime.com/help/plugins/visualstudio)
* Setup WakaTime Account
* Installed

[2015-03-26 08:52] alanhamlett commented on #5
The latest version 2.0.3 of the plugin, released today, should start sending heartbeats again. Try updating to v2.0.3 of the plugin, then check your version number shown here (after opening a file in VS):
https://wakatime.com/api/v1/users/current

If you don't see v2.0.3 as your `last_plugin`, then try uninstalling and re-installing the WakaTime plugin.

For the constant prompting of your api key,

[2015-03-26 08:52] #5 closed

[2015-03-26 10:32] RMullins commented on #5
Hi Alan. I'm glad to report that **v2.0.3 resolved the issue**. :)
Seems as though you were burning "the midnight oil" tonight to fix this defect. I just want to let you know that I appreciate that!

BTW, it also fixed the improper prompting for the API key at startup (for me).

Again, **thanks for resolving this so quickly**!

/ Rob /

[2015-03-26 10:46] UnreachableCode commented on #3
Well I've now worked out that each of these 'installs' as I was previously
referring to has 'Update' in the dialog box that appears. Still finding it
a bit weird that it needs to update for every VS Solution I open though.

The path that it installs the updates to is
here: C:\Users\myusername\AppData\Local\Microsoft\VisualStudio\12.0\Extensions\fl5x5525.n5b

And I definitely have python installed

[2015-03-26 12:50] khaosdoctor commented on #5
It is now working! Thanks!

[2015-03-26 14:42] DerfOh commented on #5
Seems to be working great now! Great job Alan!

[2015-03-27 09:37] jcalonso commented on #5
Thanks @alanhamlett  is working now :+1:

[2015-03-28 16:26] AlbertoMonteiro commented on #3
Why does wakatime depends on python?

[2015-03-29 09:20] alanhamlett commented on #3
@AlbertoMonteiro wakatime depends on python because the [core](https://github.com/wakatime/wakatime) is written in python.

@UnreachableCode that could be from the v0.0.1 of visualstudio-wakatime which installed Python to the VS extension directory which changes every time the plugin updates, breaking the python installation. You can try changing the default install path in your Windows Registry s

[2015-04-10 19:47] MatiasL13 opened #6 "Support for Visual Studio 2010"
there any way to install it in Visual Studio 2010?

[2015-04-10 21:00] alanhamlett commented on #6
Not yet, but we do plan to support VS2010. I'll update here when it's ready.

[2015-04-26 11:56] MitjaBezensek commented on #1
+1

[2015-04-27 00:04] alanhamlett commented on #1
That's because only Visual Studio 2013 is supported so far:
https://visualstudiogallery.msdn.microsoft.com/ca0ea1f3-e824-4586-a73e-c8e4a65323d8

Still working on support for 2010 and 2015.

[2015-04-30 01:23] alanhamlett commented on #2
Is this still an issue? I've gone through the whole plugin code to fix hopefully all the bugs.

[2015-04-30 01:23] alanhamlett commented on #3
I've gone through the whole plugin code to fix hopefully this and other bugs.

[2015-04-30 01:23] #3 closed

[2015-04-30 01:28] #2 closed

[2015-05-08 16:35] jonhider opened #8 "Support for Visual Studio 2013"
Been trying to get this to work for a couple of weeks now on Visual Studio 2013 Ultimate and it's still not working.  Currently running the 3.0 plugin which has been uninstalled/re-installed and still not seeing it working.  .wakatime.log, .wakatime.db, .wakatime.cfg files are reside in C:\Users\"username" directory and log file is blank.  .wakatime.cfg just shows my API key.  Would like to really

[2015-05-08 16:44] alanhamlett commented on #8
Can you look for any WakaTime related messages in your ActivityLog.xml file?

https://msdn.microsoft.com/en-us/library/bb166359.aspx

[2015-05-08 16:51] jonhider commented on #8
Nothing in there related to wakatime

[2015-05-09 00:38] alanhamlett commented on #4
Support for Visual Studio 2015 was added with #7

[2015-05-09 00:38] #4 closed

[2015-05-09 00:38] alanhamlett commented on #8
The VS Ultimate SKU was missing in the build, but it's been added in v4.0.1 so should work now.

[2015-05-09 00:38] #8 closed

[2015-05-11 18:31] alanhamlett opened #9 "error messages in ActivityLog.xml"
[code]

[2015-05-11 18:52] kidchenko commented on #4
Thanks!

[2015-05-11 23:47] PlatinumEagle commented on #9
Hi Alan,

NOTE: I strongly recommend (it would sure be helpful) that you change the name of the package from "Main" to "WakaTimePackage", which would follow standard conventions for VS Extensions.  Else it is hard to figure out what the heck is the cause, and makes the entries that get put into the registry much harder to associate to the real cause of the problem.
Example: look at the following k

[2015-05-12 02:40] alanhamlett commented on #9
Ok thanks, I've renamed `Main` to `WakaTimePackage`. I also downgraded `Microsoft.VisualStudio.Shell.14.0` to `Microsoft.VisualStudio.Shell.12.0` and released v4.0.2 of the plugin. Can you update WakaTime and see if the error is fixed?

I wasn't able to reproduce the error in my Windows 8 VM. I tried uninstalling all .NET versions, but Visual Studio 2013 and 2015 both still loaded WakaTime correct

[2015-05-12 05:04] PlatinumEagle commented on #9
Confirmed it installs, loads properly and sends events and heartbeats now, both on VS 2013 Ultimate and VS 2015RC Enterprise.

Also, all the registry and logging information is much better now and more easily traceable after the rename, thanks. I'm sure it will help others and you if there are any future issues. I forked the project so that I could take a look, but ran out of time (have a deadline

[2015-05-12 06:40] alanhamlett commented on #9
Good to hear it's working now!

[2015-05-12 06:40] #9 closed

[2015-05-13 19:44] gandarez opened #10 "Migration required to VS 2013"
Hi all!

Just forked and trying to open it in my Visual Studio 2013 Premium got an error as below.
![error_1](https://cloud.githubusercontent.com/assets/782854/7619476/5079cf1a-f98f-11e4-9282-e8de126723ab.png)
![error_2](https://cloud.githubusercontent.com/assets/782854/7619478/52abadc6-f98f-11e4-9b07-8ab43f7fa3d0.png)

[2015-05-13 20:00] alanhamlett commented on #10
It opens for me in Visual Studio 2013 Community. This error is usually fixed by editing the .csproj file and changing the `MinimumVisualStudioVersion` or `VisualStudioVersion` versions to match your IDE version.

[2015-05-13 22:15] gandarez commented on #10
Hi @alanhamlett.
I figured out that VS 2013 needs its SDK to open this project. From my forked project, which I'll try to fix a bug encountered, I'll also change Readme to include a pre-requisite section.

[2015-05-13 23:06] alanhamlett commented on #10
Oh yea forgot about needing the SDK installed. What other bug did you encounter?

[2015-05-14 13:14] gandarez commented on #10
I changed Readme.md into the pull request https://github.com/wakatime/visualstudio-wakatime/pull/11

[2015-05-14 13:16] #10 closed

[2015-05-25 02:00] alanhamlett commented on #1
Added support for VS 2012 with #12

[2015-05-25 02:00] #1 closed

[2015-05-25 05:29] JPomichael commented on #1
Thanks. I can use it now

[2015-05-27 17:14] diegomesata opened #13 "support for proxy using domain authentication"
Hello, I'm behind firewall and visual studio is not uploading data to wakatime?

Should I do any special configuration?

Thank you

[2015-05-27 17:43] alanhamlett commented on #13
Sure, there is a proxy config in your `~/.wakatime.cfg` file:
https://github.com/wakatime/wakatime#configuring

[2015-05-27 18:45] diegomesata commented on #13
My proxy uses domain authentication, I Set:

proxy = http://domain\user name:mypass@192.160.0.2:8085

But In the error log I got:

"ConnectionError": "HTTPSConnectionPool(host='wakatime.com', port=443): Max retries exceeded with url: /api/v1/heartbeats (Caused by ProxyError('Cannot connect to proxy.', OSError('Tunnel connection failed: 407 Proxy Authentication Required',)))"}}

[2015-05-27 18:49] Marfusios opened #14 "Can't specify proxy"
Please add support for proxy. Proxy with username and password. Currently this extension throws exception at start if proxy is required.

Maybe some modal dialog, would be great.

[2015-05-27 19:18] alanhamlett commented on #14
Related to #13 and wakatime/wakatime#23.

[2015-05-27 19:47] alanhamlett commented on #13
Can you try https instead of http in your proxy config? I'll make this default to https from now on, but this might work right now by just using https.

[2015-05-27 20:02] diegomesata commented on #13
Hello, Alan thank you for your interest. I tested with https, but the error in the log is still the same

[2015-05-31 01:44] alanhamlett commented on #14
Closing as duplicate of #13

[2015-05-31 01:44] #14 closed

[2015-06-01 02:43] gandarez opened #16 "[Discussion] Better way to get latest version of Wakatime cli"
Hi!

I think the better way for this plugin to know the latest version of wakatime client is through releases. Is it possible to besides adding into history file also create a new release at https://github.com/wakatime/wakatime/releases?
Since github has an api which retrieves all release information about a specific repository Wakatime plugin could be smarter.

[2015-06-01 02:52] alanhamlett commented on #16
It's possible to create releases, but it won't change releasing to users. I still have to upload to https://visualstudiogallery.msdn.microsoft.com/ manually.

[2015-06-01 22:14] gandarez commented on #16
I mean to create releases at wakatime python repository and then this plugin can connect and correctly get the latest version.

[2015-06-05 10:04] czmj opened #17 "Wakatime is trying to install python"
This happens every time my colleague launches Visual Studio after installing the Wakatime extension.

Appears to be doing an unattended install of Python 3.4.3, which is already installed. As pip already exists in the path (from Python 2), the MSI installer fails and rolls back. The plugin works, but it's annoying this happens every time he starts VS

![image](https://cloud.githubusercontent.com/a

[2015-06-05 18:27] #17 closed

[2015-06-08 20:20] alanhamlett commented on #16
That would introduce a dependency on [pip](https://github.com/pypa/pip) to install the pypi wakatime package. I think downloading from GitHub then unzipping is more reliable.

[2015-06-08 20:24] gandarez commented on #16
The problem is the dependency of a constant string inside the plugin, it's not dynamic.

[2015-06-08 20:32] alanhamlett commented on #16
Ok, we can use pypi to check the latest release version then download the zip from pypi and extract like we currently do.

[2015-06-08 22:26] gandarez commented on #16
@alanhamlett the way of installing it seem to be good so far. What makes me thoughful is regarding the way of getting the latest version of wakatime python library. A static string pointing to a version which constantly changes could be a problem.

[2015-06-17 01:47] matthewseng commented on #6
Would be great to have, I'm stuck with VS2010 :(

[2015-06-17 01:54] gandarez commented on #6
I'll try tomorrow to have it working on vs 2010.

[2015-06-17 22:05] J-kit commented on #6
I need this plugin for vs2010 ;(

[2015-06-18 02:18] slvnperron opened #20 "Reloading solution hangs Visual Studio"
When I switch branch (using git) on project opened in Visual Studio 2013, Wakatime makes Visual Studio hang by spawing ~20-30 python (wakatime-cli) instances.

Reproduction steps:

- Open versioned project in VS2013
- Open a few files which will differ in the new branch
- Switch branch
- In visual studio hit "Reload all"
- Open process manager and see all the python instances

[2015-06-18 02:20] alanhamlett commented on #20
Thanks, I wonder if we can detect when VS "reloads all". If not, we can rate-limit heartbeats.

[2015-06-18 02:31] slvnperron commented on #20
Maybe it is a DTE command (https://msdn.microsoft.com/en-us/library/envdte.commandeventsclass.aspx) but I doubt so. I think rate limiting heartbeats is the way to go since heartbeating that fast is probably always unintended?

[2015-06-18 02:36] slvnperron commented on #20
I see that you have already rate-limited the heartbeats with the `EnoughTimePassed`. Why is it still invoking many instances?

[2015-06-18 03:24] alanhamlett commented on #20
Enough time passed is a rate limit when editing the same file, but there is no rate limit when the file changes.

[2015-06-18 11:36] gandarez commented on #20
@slvnperron when you say "process manager" does it mean "task manager" in windows? I'm trying to figure out this problem by following your instructions to reproduce the problem.

[2015-06-19 04:22] alanhamlett commented on #20
I'll fix this soon. What I'll do is:

Save the last file that would have been sent, then if the rate limit is no longer being hit we can send the last edited file. This way if the user is actually switching between files quickly, their time will still be logged to the correct file.

[2015-06-19 16:42] slvnperron commented on #20
@gandarez yes this is the windows Task Manager. I think @alanhamlett got a good solution to the problem.

[2015-06-28 05:27] programmer-1 opened #22 "not appear any windows to input api key after install on vs2012"
hello,
i installed a plugin by your instruction but after restart visual studio 2012, not appear any window to input API key. this event occurred when i click on wakatime setting on tools menu too.
thanks.

[2015-06-28 21:29] gandarez commented on #22
Which version of VS 2012 are you using?

[2015-06-29 04:13] programmer-1 commented on #22
visual studio ultimate 2012 - version 11.0.50272.1 RTMREL

[2015-06-29 11:12] gandarez commented on #22
I'd suggest you to redo all the steps. After uninstalling wakatime fom VS
![image](https://cloud.githubusercontent.com/assets/782854/8406794/76de1780-1e36-11e5-91cb-6e8d14f6ff47.png)
Go to users folder and delete these:
wakatime-master
.wakatime.cfg
.wakatime.db
.wakatime.log

Then try to reinstall.

[2015-06-29 12:44] programmer-1 commented on #22
I test reinstall by your instruction but not usefull. the extension installed successfully but when start visual studio not appear any window to input api key and bellow error is reported in ActivityLog.xml:

<entry>
    <record>1455</record>
    <time>2015/06/29 12:22:05.820</time>
    <type>Information</type>
    <source>VisualStudio</source>
    <description>Begin package load [WakaTimePackage]

[2015-06-29 13:18] gandarez commented on #22
The problem occured because the plugin was referencing to Microsoft.VisualStudio.Shell.12.0. In order to have it working on VS 2012 I reverted back to Microsoft.VisualStudio.Shell.11.0
@programmer-1 Could you please try getting the version from my google drive, unpack it and run WakaTime.vsix (before running please uninstall)
https://drive.google.com/file/d/0B8xP541fEeYHaG9SaDYyRHlFcGM/view?usp=sh

[2015-06-29 15:26] programmer-1 commented on #22
:+1:  Okay, the problem solved completely! thanks.
It should be noted that API window is displayed too late! on splash screen (About 5 minute for me)
but as a developer what was the mistake for supporting VS2012?

i thinks this issue needed to corrected as a bug fix for another version for running plugin on VS2012 properly.

thanks for your supporting.
and I apologize for my poor English. :)

[2015-06-29 16:02] gandarez commented on #22
@programmer-1 the plugin was using a higer version of reference Microsoft.VisualStudio.Shell.

@alanhamlett I made a pull request for it. #23

[2015-06-29 16:36] programmer-1 commented on #22
thanks.

[2015-06-29 16:36] #22 closed

[2015-07-01 05:58] zldrq opened #24 "very long vs starting time with extension on"
i now have not very fast (i'm even not saying slow) internet connection and my visual studio starts like minute or so.
and when it starts in exposes no life signs, so i sometime doubt i'd ran it and run it once again for that reason. as a result have two VSs opened.

i've found that it is because it doing something in codeload.github.com. updating, likely. and i figured out, that it is this extens

[2015-07-01 11:56] gandarez commented on #24
It's a good point to be aware. Let's start analyzing which is causing this slownness.

[2015-07-01 19:26] alanhamlett commented on #24
I found this, which I'll use to debug the slowness:
https://github.com/mschrag/speedlimit

[2015-07-01 19:33] alanhamlett opened #25 "System.Runtime.InteropServices.COMException at EnvDTE._DTE.get_Solution()"
arfmach wrote at https://visualstudiogallery.msdn.microsoft.com/ca0ea1f3-e824-4586-a73e-c8e4a65323d8/view/Discussions:

This is happening a lot and making VS2013 Community crash and be forced to close.

[code]

[2015-07-02 11:35] gandarez commented on #25
Made pull request #26

[2015-07-06 04:49] programmer-1 commented on #24
I also have this problem, loading visual studio with this extension take about 7 minutes! On the other hand i don't think The problem to be related to the speed of the Internet because this extension load quickly with other IDE like Android Studio or phpStorm and so on.
I think this is a big technical problem that should be resolved as soon as possible up.
thanks.

[2015-07-17 07:31] alanhamlett commented on #24
I think it's a problem detecting python, causing Python to be downloaded and installed every time you restart Visual Studio.

[2015-07-17 07:35] programmer-1 commented on #24
well, what is the solution?

[2015-07-17 07:45] hxueh commented on #24
I have the same problem. And I am sure I did install Python 3 and set up Environment Variables correctly. Hope you solve this problem cause this is annoying.

[2015-07-17 08:14] sinkien opened #28 "System.Runtime.InteropServices.COMException at EnvDTE._DTE.get_Solution()"
I'm using VS2013 Premium, WakaTIme plugin version 5.0.4.
Besides ticket  #26, this exception is still popping up and killing Visual Studio. I'm working on WPF application, and when I'm in the designer and I'll try to use scrollbars to move around the designer's view, :boom: , Visual Studio dies. If I take a look into event log, I see this:

Application: devenv.exe
Framework Version: v4.0.30319
Des

[2015-07-17 16:34] gandarez commented on #28
Please update #25 with this error.

[2015-07-17 16:46] alanhamlett commented on #28
Let's leave this issue open, but link it to #25 so I can close both at the same time. I love GH issues!

[2015-07-17 17:58] alanhamlett commented on #28
Just released v5.0.5 of the extension. Can someone confirm it's fixed after updating?

[2015-07-17 17:58] alanhamlett commented on #25
Just released v5.0.5 of the extension. Can someone confirm it's fixed after updating?

[2015-07-17 18:07] alanhamlett commented on #24
I've relaxed the python detection slightly and increased logging in the current version 5.0.5. Can you update the WakaTime plugin.

Also make sure to turn on debug mode from WakaTime -> Settings inside VS, then re-launch VS from command line with `devevn /log` ([more info](http://blogs.msdn.com/b/visualstudio/archive/2010/02/24/troubleshooting-with-the-activity-log.aspx)).

With the new logging, w

[2015-07-17 18:35] gandarez commented on #25
@alanhamlett I already did some tests and everything is working as expected. Let's wait waht community says.

[2015-07-18 06:12] programmer-1 commented on #24
The problem has been solved properly. thanks.

As others have pointed out, The problem must be from the Detecting Python.
this is related WakaTime records in my vs log file after updating WakaTime and running vs in a log mode:

<entry>
    <record>941</record>
    <time>2015/07/18 05:25:35.720</time>
    <type>Information</type>
    <source>VisualStudio</source>
    <description>Importing pkgdef f

[2015-07-18 17:19] #24 closed

[2015-07-18 17:31] alanhamlett commented on #24
Awesome!

[2015-07-21 04:45] yyjdelete opened #29 "Can not remove proxy after set on VS2015RC"
Tested with 5.0.5

[2015-07-21 05:00] yyjdelete commented on #29
BTW, what is the format of proxy?

[2015-07-21 05:22] yyjdelete opened #30 "why not use output view instead of ActivityLog.xml for user-friendly"
As [CodeMaid](https://github.com/codecadwallader/codemaid/blob/cfc386ff725c73f11db8a0bf21cd55bd62d91ebe/CodeMaid/Helpers/OutputWindowHelper.cs) does.

[2015-07-21 07:24] alanhamlett commented on #30
Great idea, I always disliked ActivityLog.xml but didn't know an alternative. I'll get this changed soon.

[2015-07-21 12:43] gandarez commented on #29
@yyjdelete you should use like that: ```https://user:pass@localhost:8080```

[2015-07-21 23:01] gandarez commented on #28
@sinkien could you please do test?

[2015-07-22 02:23] gandarez commented on #20
@slvnperron I cloned a master repo. How can I switch to branch inside Visual Studio? There's no branch loaded, only master branch.

[2015-07-22 09:04] sinkien commented on #28
@gandarez I've installed this new version (5.0.5) into VS2013 Premium and VS2015 Enterprise and after two days of my usual work, it seems finally fixed. Good job :+1:

[2015-07-22 11:28] #28 closed

[2015-07-22 11:28] #25 closed

[2015-07-23 05:43] alanhamlett commented on #29
Fixed with #31.

[2015-07-23 05:43] #29 closed

[2015-07-23 05:44] alanhamlett commented on #30
Implemented with #31.

[2015-07-23 05:44] #30 closed

[2015-07-23 14:44] alanhamlett commented on #20
@gandarez Switching branches just causes a file inside the Solution to be edited outside Visual Studio... prompting the user to reload all files in the Solution. The easier way to trigger this is manually reloading all files from the menu option inside VS.

[2015-07-24 03:08] yyjdelete opened #33 "Not working on system with some special encoding."
language:zh-cn, default encoding: GBK
[code]

[2015-07-24 03:20] yyjdelete commented on #33
Also failed with CMD, but it's OK after manually run

C:\Python34\python setup.py install

what's wrong with that?

[2015-07-24 04:56] yyjdelete commented on #33
something still wrong with the python,
[code]

[2015-07-24 05:23] yyjdelete commented on #33
It seems something is wrong in requests, alreay post an issue to requests [#2688](https://github.com/kennethreitz/requests/issues/2688)

[2015-07-24 19:57] alanhamlett commented on #33
@yyjdelete yep, looks related to kennethreitz/requests#2688. I'll help debug it there.

[2015-07-28 17:15] Praxkv1 opened #36 "Waketime does not work on all network"
I have wake time installed as a plugin to my Visual studio 2012. I see that it logs my activity only when I am connected to internet from home. It does not logs anything when I connected via office internet.

[2015-07-28 17:37] gandarez commented on #36
When at office do you need proxy authentication?

[2015-07-28 18:48] Praxkv1 commented on #36
We use citrix to connect to office network. Its automatically gets connected when we login to our laptop in office.

[2015-07-28 19:37] gandarez commented on #36
Do you have the latest version installed (5.0.7)?
Go to Tools -> Wakatime -> Settings and enable Debugging. After show us the Output window like below
![image](https://cloud.githubusercontent.com/assets/782854/8941594/d1d8aa5c-3546-11e5-9c1b-49aa9340e16b.png)

[2015-07-28 20:21] alanhamlett commented on #36
@Praxkv1 currently you have to manually configure the proxy in the WakaTime settings menu. Can you find the proxy that Citrix uses after it connects?

[2015-07-29 07:09] l7l1l0l commented on #36
When I input the wakatime  API key, an error "object reference not set to an instance of an object".I want to know how to solve this problem.
Visual stdio 2012  Windows7

[2015-07-29 07:13] l7l1l0l opened #37 "Visual Studio 2012 + Windows7 input API key, object reference not set to an instance of an object"
When I input API key, the error is "object reference not set to an instance of an object"

[2015-07-29 12:01] gandarez commented on #37
PR #38

[2015-07-29 13:59] Praxkv1 commented on #36
@alanhamlett  Thanks for the update. I found a option to enter the proxy address in VS2012 under Tools-->WakaTime-->Setting--Proxy.
Can you please help me how to find what proxy my computer is using. I tried all the options available in  Citrix setting but i could not find any thing.

[2015-07-29 14:13] l7l1l0l commented on #37
Thank you very much.

[2015-07-29 14:33] l7l1l0l commented on #37
I download wakatime plugin from Visual Studio, error again. I don't know how to use v5.0.8's code.

[2015-07-29 14:35] gandarez commented on #37
@l7l1l0l version 5.0.8 isn't released yet.
https://visualstudiogallery.msdn.microsoft.com/ca0ea1f3-e824-4586-a73e-c8e4a65323d8

[2015-07-29 16:02] alanhamlett commented on #37
Just released v5.0.8.

[2015-07-29 18:36] alanhamlett commented on #36
@l7l1l0l the latest version of the plugin (v5.0.8) should fix the api key bug.

[2015-07-29 18:37] alanhamlett commented on #36
@Praxkv1 I think the easiest way is open your browser and go to the proxy settings, then copy the host and port used.

[2015-07-30 02:49] l7l1l0l commented on #37
I download v5.0.8 in my Visual Studio, The error is not appear again. But it didn't seem to work properly,because wakatime DashBoard no data. How can I be sure wakatime client send data to wakatime server?

[2015-07-30 02:57] alanhamlett commented on #37
First, take a look at this [troubleshooting guide](https://github.com/wakatime/wakatime#troubleshooting) to look for error messages in your ~/.wakatime.log file.

[2015-08-21 04:54] alanhamlett opened #40 "give user option to cancel python download/install"

[2015-08-21 12:18] gandarez commented on #40
When initializing? Give me more details.

[2015-08-23 03:01] alanhamlett commented on #33
@yyjdelete can you delete the `wakatime-master` folder on your machine so the WakaTime plugin will update to the latest version of wakatime cli? This bug might be fixed with afc012ab6361d7d12e1b9519a4b5a3f14c559bd0. Would you mind testing the latest version to see if it's fixed?

[2015-08-24 06:07] yyjdelete commented on #33
Still the same, and the below en/decode seems work well for me(not sure for other encoding)
[code]

[2015-08-24 20:08] alanhamlett commented on #33
@yyjdelete that's great! Wish I had seen this earlier... just came across a similar fix in wakatime/wakatime#32. Does the current wakatime cli work for you?

[2015-08-25 01:25] yyjdelete commented on #40
Why download wakatime-cli.zip blocking the startup of VS(showing the LOGO) instead of download in background/async?

[2015-08-25 01:47] yyjdelete commented on #33
This is also works for me.

[2015-08-25 01:47] yyjdelete commented on #37
Maybe relate to #33 , seems @l7l1l0l is an Chinese.

[2015-08-25 01:59] gandarez commented on #40
It's a new way of initializing wakatime

[2015-08-25 05:06] alanhamlett commented on #33
Finally, this is great!

It's better to not decode in our fix because that could cause an exception. However, `os.path.dirname` could be implicitly decoding. I'll just leave it the way the code is now, since it's working.

[2015-08-25 05:06] #33 closed

[2015-08-25 05:08] alanhamlett commented on #40
We should download in the background, but prompt the user in the UI thread before downloading just in case the user does not want Python installed for some reason.

[2015-08-25 12:18] gandarez commented on #40
@alanhamlett Might we give to the user ability to add its own python's directory?

[2015-08-26 20:43] hernandezgustavo opened #42 "VS2012 crashes with last update (installed 08/24)"
I installed the plugin a time ago and VS2012 noticed me for a new update of the Wakatime plugin. I installed it and I had to disable it because with the latest update VS crashes.

Environment:
- VM running on Mac
- VM specs:
    * Win server 2008 R2 SP1
    * 8GB
    * 2 cores (from i7)
    * VS2012 Pro Update 4

[2015-08-27 01:37] alanhamlett commented on #42
I've tested with VS2012 Ultimate in Windows 8.1, but not able to reproduce a crash. Can you share the error message from your `ActivityLog.xml`? To have VS write exceptions to that xml log, run VS from a cmd prompt with `devenv /log`. More info [here](http://blogs.msdn.com/b/visualstudio/archive/2010/02/24/troubleshooting-with-the-activity-log.aspx)

[2015-08-31 02:48] l7l1l0l opened #44 "Wakatime doesn't work on my visual studio2012."
#37 It doesn't work again.
I remove all wakatime files in my computer. Install wakatime again, after restart, Have no place to enter API key.
Moreover, Notepad++,Vim,Sublime text3 cannot waketime normal running. There are many errors in vim about python. Even if I have update the 2.7.9 python.

[2015-08-31 12:00] gandarez commented on #44
@l7l1l0l o you see this menu?
![image](https://cloud.githubusercontent.com/assets/782854/9578270/c4734b5a-4fbe-11e5-9991-705cc47260d5.png)

[2015-09-02 08:14] l7l1l0l commented on #44
wakatime for Visual Stdio is ok. Thank you very much.

[2015-09-02 08:14] #44 closed

[2015-09-02 13:55] #37 closed

[2015-09-02 13:56] gandarez commented on #16
Implemented in version 5.0.9

[2015-09-02 13:56] #16 closed

[2015-09-08 03:00] alanhamlett commented on #40
Fixed with #45

[2015-09-08 03:00] #40 closed

[2015-09-14 19:32] hugodahl opened #46 "Python appears called for every file, and stays in memory"
I was diagnosing some issues on my project in Process Explorer, when I noticed a good number of "pythonw.exe" processes running. The command lines are pretty much all the same, except for the "file" argument. Even after closing the files from within Visual Studio, the processes remained. I then quit Visual Studio (single instance this time), and the processes remain.

I've attached 2 screenshots o

[2015-09-14 19:52] gandarez commented on #46
@hugodahl great point. I'll do some tests tonight.

[2015-09-16 16:04] alanhamlett commented on #46
@hugodahl one possible explanation is network connectivity. Each `pythonw.exe` process is [wakatime cli](https://github.com/wakatime/wakatime) sending a heartbeat to the api. I've updated the default timeout of wakatime cli to 30 seconds in the latest release, so re-launching Visual Studio will download the new wakatime cli and might fix this for you...

[2015-09-21 13:47] gandarez commented on #46
@hugodahl Did you test as @alanhamlett said?

[2015-09-21 15:29] alanhamlett commented on #46
@hugodahl does data from your Visual Studio on this particular machine show up on the dashboard?

[2015-11-06 02:28] arangas opened #48 "Prompt to install Python appears behind VS window"
I just did a clean install of VS 2015 and installed Wakatime 6.0.0. After the restart required by installing the extension, nothing appeared to have happened. Looking closer, I could see that there was a second VS window hidden behind the main window - the dialog that prompts to download and install Python. It would be nice to have this in the foreground after the VS restart.

[2015-11-06 02:33] arangas opened #49 "Unable to install Python through dialog prompt"
I just did a clean install of VS 2015 and installed Wakatime 6.0.0 on Windows 10. After clicking "Yes" on the prompt to install Python, nothing appeared to happen for about 10 seconds. Then a window flashed briefly on the screen, followed by a Windows Installer error "This installation package could not be opened. Verify that the package exists and that you can access it, or contact the applicatio

[2015-11-06 16:34] Leon-O commented on #49
i had the same problem, just go to https://www.python.org/, download the installer according your system and them run your VS 2015

[2015-11-06 16:41] Leon-O commented on #48
Uninstall that version and re-install it from visual studio galley

[2015-11-08 17:21] gandarez commented on #49
@arangas the installer has around 25mb, depends on your local connection you could wait longer than usually. The file python.msi goes to c:\users\{user}. Alternatively you can download it manually as @Leon-O said.

[2015-11-08 17:28] gandarez commented on #48
@arangas please refer to my forked repo in https://github.com/gandarez/visualstudio-wakatime
I excluded the verification of python installation from async task and it should appear earlier than the main screen.

[2015-11-09 03:31] arangas commented on #48
@Leon-O I thought that was the same as installing through VS? In any case, I get the same result.

@gandarez Thanks I would like to but due to time constraints I will workaround this by installing Python manually as suggested in #49.

[2015-11-09 03:34] arangas commented on #49
Hmmm the dialog doesn't state which version (2.x or 3.x). Does this matter?

[2015-11-09 11:26] gandarez commented on #48
@arangas it should be the same as installing through VS.

[2015-11-09 11:26] #48 closed

[2015-11-09 11:27] gandarez commented on #49
@arangas Wakatime is current on version 6.0.0

@alanhamlett please increment version number and upload it to the gallery

[2015-11-10 04:51] mtrutledge opened #51 "VS 2015 in Parallels VM Freezing"
When I use WakaTime plugin with Visual Studio 2015 Enterprise inside a Parallels 11 VM it will freeze Visual Studio. I haven't quite determined the exact steps to reproduce this. It consistently happens after the computer goes to sleep. It will also happen if I don't focus on the Visual Studio window for a while. I thought that maybe it was my VM. So I installed visual studio from scratch and work

[2015-11-12 11:45] gandarez commented on #51
@mtrutledge Since Parallels is a VM and emulates windows on MAC I'm not able to answer you what's happening.

[2015-11-13 18:38] alanhamlett commented on #51
I have Virtual Box, but not Parallels. Can you run Visual Studio from command line with `devenv /log` then check your ActivityLog.xml file for WakaTime errors?

(http://blogs.msdn.com/b/visualstudio/archive/2010/02/24/troubleshooting-with-the-activity-log.aspx)

[2015-12-03 03:02] jakubsuchybio opened #52 "NullReferenceException in output window when showing output from Wakatime"
Exact error:
[code]

[2015-12-03 09:05] alanhamlett commented on #52
Is this error preventing WakaTime from logging your coding activity?

[2015-12-03 11:12] gandarez commented on #52
@jakubsuchybio Did you install python manually ou automatically by waka?

[2015-12-03 13:33] jakubsuchybio commented on #52
@alanhamlett No. I see some activity on web dashboard.
@gandarez I don't remember, but I think I might install it manually.
Here are versions of pythons and waka extension that I have:
Python 3.5.0 (32-bit)   3.5.150.0
Python Tools 2.2.1 for Visual Studio 2015   2.2.31105.00
WakaTime extension 7.0.0

[2015-12-03 13:41] gandarez commented on #52
The exception doesn't make sense at all.
There's a try/catch block to deal with any exception inside that method.

[code]

Figuring out how you got it.

[2015-12-03 14:31] jakubsuchybio commented on #52
Ok I downloaded source of WakaTime, tried to debug it and this line gives me null:
[code]

[2015-12-03 15:17] jakubsuchybio commented on #52
So I made some more digging. In registry I didn't find Python.File sub-key for root folder. I then went into 'Programs and Features' found python, hit repair. Repair was successful. Then I looked into registry, the sub-key was there. And error doesn't show up.
However... I found that you have more fail-through methods to find python's path and this one is just one of them. So this failed with erro

[2015-12-03 15:45] gandarez commented on #52
@jakubsuchybio Ok I agree with you but I tried to debug exactly as you done and didn't get the same result. Take a look at the screenshots below:
Forced NullReferenceException to be thrown
![image](https://cloud.githubusercontent.com/assets/782854/11565128/bace9f38-99c3-11e5-89d4-80cdc0262ab2.png)

Caught it
![image](https://cloud.githubusercontent.com/assets/782854/11565136/c170b66e-99c3-11e5-88b

[2015-12-03 15:52] jakubsuchybio commented on #52
Well you get the same result, just with additional information about line that caused it. And that is because you have pdb file present when you were debugging it. When you install WakaTime into VS from binary, there are no pdb files present for the exception to have information where the problem occured exactly. Only the name of method. It should be like this if my memory about debugging from sch

[2015-12-03 16:07] gandarez commented on #52
@jakubsuchybio your're correct. What I mean is that I couldn't get any exception threw outisde the scope. However I'll did few mods into code to handle null reference as well.

[2015-12-03 16:12] gandarez commented on #52
[Wakatime Warning 02:11:59 ] Couldn't find python's path through Microsft Register. Please try repairing your Python installation.

[2015-12-03 16:18] gandarez commented on #52
@alanhamlett please compile it and upload to the gallery. Tks!

[2015-12-03 16:18] #52 closed

[2015-12-03 16:43] jakubsuchybio commented on #52
Nice. I didn't mean exception out of scope. Just that output error, for clarification.

[2015-12-03 16:51] gandarez commented on #52
I missed out, sorry!

[2015-12-03 18:16] alanhamlett commented on #52
Released v7.0.1 with this fix. Thanks @gandarez and @jakubsuchybio!

[2015-12-03 18:16] #49 closed

[2015-12-14 01:26] MZetko commented on #51
Hello there, the exact same thing happens to me on my PC, even without Vritual Box o Parallels. I have been seeking which plugin is causing this and it seems Wakatime is the source. The issue happens when VS is inactive for a while. After I want to go back to VS, it is just unresponsive, looks "frozen", without any loading cursor or anything. I just doesn't capture any input. Also, when multiple i

[2016-01-08 07:22] shivamadhavan commented on #51
The same observed with VS2013 as well. No entries(/errors) in ActivityLog.xml related to WakaTime other than these;
[code]

[2016-01-18 10:19] ssarabando commented on #51
Same observed with Visual Studio 2015 Professional (14.0.24720.00 Update 1). Nothing of note in the ActivityLog either. What can I do to help hunting down this bugger, since it's keeping me from using Wakatime in VS (works fine with Sublime).

[2016-03-09 18:08] rs38 opened #55 "offline / sync does not always work"
visual studio 2015 community

Is there a way to trace the plug or easily access the wakatime.db?
I guess if the date stamp of the .db file is later than  last work there is probably nothing to sync?

[2016-03-09 18:46] alanhamlett commented on #55
You can [turn on debugging](https://github.com/wakatime/wakatime#configuring) in your `~/.wakatime.cfg` file, then tail `~/.wakatime.log` to see coding activity as it is recorded.

To view the backlog of heartbeats run:

[code]

If there's a problem with the plugin, then the heartbeats might not be saved to the local sqlite db when offline. There would be evidence of that in your `~/.wakatime.log`

[2016-03-09 21:16] rs38 commented on #55
thank you! I already activated both loggings, will check during the coming day.
can you please explain a bit more in which shell you connect to the sqlite3 db? I get syntax errors if I try that with python.exe shell with it's `>>>` prompt.

[2016-03-09 21:40] alanhamlett commented on #55
I'm not sure how to open sqlite files in Windows, that command was for Bash in Linux.

[2016-03-29 21:57] daronjay opened #56 "Doesn't ask for api key on VS 2015 Enterprise, setting don't show"
Getting this message in output, and nothing else ever happens. Wakatime Settings won't open.

[Wakatime Info 10:55:17 AM] Initializing WakaTime v7.0.2
[Wakatime Info 10:55:18 AM] Current wakatime-cli version is 4.1.13
[Wakatime Info 10:55:18 AM] Checking for updates to wakatime-cli...
[Wakatime Warning 10:55:19 AM] Couldn't auto resolve wakatime cli version
[Wakatime Info 10:55:19 AM] Found an upd

[2016-03-29 22:00] gandarez commented on #56
It's seems not to be a real problem. Have you previously installed in this machine Waka?

[2016-03-29 22:20] daronjay commented on #56
No, just tried to install / uninstall twice, got same problem and no Api key request. Also no way to open settings for wakatime, the tools> wakatime > settings menu command does nothing at all

Sent from my iPhone

[2016-03-29 22:21] daronjay commented on #56
Actually, it seems to summon up a dialogue, but it was hidden behind window

Sent from my iPhone

[2016-03-29 22:23] alanhamlett commented on #56
So we need to find a way to make sure the dialog window is in the front and focused.

[2016-03-29 22:24] daronjay commented on #56
I'm in, the dialog was hidden behind window and didn't appear for a while. That's for your prompt reply!

Sent from my iPhone

[2016-03-29 22:25] daronjay commented on #56
I reckon, especially if app is full screen

Sent from my iPhone

[2016-03-29 22:29] daronjay commented on #56
Maybe add a text  to the console output when the dialogue window is launched, because it seemed to take a few minutes, and you could say it might be behind the window and that they need to add their key

Sent from my iPhone

[2016-03-29 23:00] alanhamlett commented on #56
b8b823b3c3e1ad916dd1e2a0bdfe4b72c9f75f7d should fix this.

[2016-03-30 00:37] gandarez commented on #56
@alanhamlett it happens because we changed the loading process to be async, remember?

[2016-04-04 00:33] #56 closed

[2016-04-04 00:33] #36 closed

[2016-04-07 23:29] jakubsuchybio opened #57 "Can't install your extension in new VS"15"Preview"
Hi,
### Installed product versions
- Visual Studio: [15 Preview]

### Description
At build 2016 Microsoft released Visual Studio 15 Preview.
There are some extensions that work there, but some that are not even searchable in "Extensions and Updates". Yours is one of those that are not searchable and not installable.

### Steps to recreate
1. Install Visual Studio 15 Preview: https://www.visualstud

[2016-04-08 08:01] #57 closed

[2016-04-08 08:07] alanhamlett commented on #57
Thanks!

[2016-04-08 08:10] alanhamlett commented on #6
Fixed with 2b593f704fcff1f7fff12a42c1b68285538c3860.

[2016-04-08 08:10] #6 closed

[2016-04-08 08:57] jakubsuchybio commented on #57
It works, thank you! :)

[2016-04-08 15:24] jakubsuchybio opened #58 "WakaTime asks for API key every start of VS15Preview"
Hi,
so I have installed VS2015Update2 and also VS15Preview.
When I try anything (delete .wakatime.* in ~; uninstall and install wakatime extension; restart VS2015Update2) VS2015Update2 works like a charm.
But when I try all of mentioned above in VS15Preview, every time I start VS15Preview I get window to enter API key, where there is my API key already inserted. See here:
![image](https://cloud.gi

[2016-04-09 11:07] alanhamlett commented on #58
Fixed with 64349f05139346e064cff2c1aec64bcf5d8623d2.

[2016-04-09 11:07] #58 closed

[2016-04-09 11:13] jakubsuchybio commented on #58
Thank you. Works like a charm.

[2016-04-09 12:20] alanhamlett commented on #55
Any updates from this?

[2016-04-09 23:40] rs38 commented on #55
I finally could open the database but it was empty.
Can be closed.

[2016-04-09 23:40] #55 closed

[2016-04-14 13:38] JeroenVandezande commented on #51
I have the same issue, it only freezes one VS, other instances do not necessary freeze at the same time.
I use VS2015 Community edition. WakaTime works fine in Suble edit without any freezing on the same computer.
I disabled the plug-in but I would like to find a solution for this though. (I am a paying customer of WakaTime and 80% of my work is in VS)

Best Regards,

Jeroen

[2016-04-16 15:17] alanhamlett commented on #51
Could this be related to #20 or does it crash anytime you edit/save a single file?

[2016-04-16 17:46] JeroenVandezande commented on #51
No it does not crash when I am just editing code, it is more when I do edit code and then read something on a pdf or website for a couple of minutes, when I come back VS is completely frozen.
But not in a way that Task Manager detects it (like "not responding"), no it seems like it just ignores keyboard and mouse commands.

[2016-04-20 22:48] alanhamlett commented on #20
The new `--extra-heartbeats` argument tells wakatime-cli to read from STDIN a JSON array of heartbeat data.[\[1\]][1] Now we can queue up heartbeats and send them once every few seconds[\[2\]][2] using only one python process instead of forking many python processes.

Anyone want to take a stab at this?

The JSON array should have elements of heartbeat data like the test added in [this pull reques

[2016-04-30 12:17] alanhamlett commented on #20
Fixed with v8.0.0.

[2016-04-30 12:17] #20 closed

[2016-04-30 12:17] alanhamlett commented on #46
Fixed with v8.0.0.

[2016-04-30 12:17] #46 closed

[2016-04-30 12:18] alanhamlett commented on #42
Closing until we have more info.

[2016-04-30 12:18] #42 closed

[2016-07-13 16:18] jjkalafut opened #59 "Wakatime freezes visual studio 2013"
I'm having two issues, which may or may not be related.

1) I have a code project that builds a DLL and then launches an outside exe to run and load the DLL. For this solution in particular (does not happen in all my solutions) whenever i try to localy debug my code, as soon as the external exe starts to run (has not loaded my DLL yet) visual studio freezes and will not respond, even if i close th

[2016-07-13 19:03] gandarez commented on #59
Could you share your solution?
I'm using VS 2013 and 2015 with no problems of freezing.

[2016-07-13 19:30] jjkalafut commented on #59
Unfortunately I can't share the code (for a few reasons). If there is any system information or logs that would help, I could share those however.

[2016-07-13 19:43] gandarez commented on #59
You could share the ActivityLog.xml
[code]

[2016-07-14 19:08] jjkalafut commented on #59
I re-enabled wakatime to try and get a log of the problem, but now it seems to be playing nicely. I will update if the problem arises again.

[2016-07-14 19:12] gandarez commented on #59
Ok ping me if needed.

[2016-07-14 19:12] #59 closed

[2016-07-21 13:38] plfoley commented on #51
I discovered I can make it happen on demand when changing the Visual theme (Light/Dark/Blue) in the VS 2015 options. Had to uninstall, VS became unusable with this extension.

[2016-08-03 15:12] xs020105 opened #60 "no way to Enter API key"
![qq 20160803230958](https://cloud.githubusercontent.com/assets/13690881/17370671/7ff38c8a-59cf-11e6-8684-9e14165edc36.png)
there is no api key put in when i restart Visual Studio,and its always Initializing.how can i deal it

[2016-08-03 15:16] alanhamlett commented on #60
Your api key can be found from Tools -> WakaTime Settings.

[2016-08-04 02:07] #60 closed

[2016-08-26 02:58] ricardopolo commented on #51
:+1:

[2016-09-14 10:07] loubouchet commented on #51
Exactly the same issue here. Was pulling my hair out. Thanks for the info guys. Disabling Wakatime for now...

[2016-11-29 16:20] piwnik opened #61 "Visual Studio 2017 RC support"
Please support Visual Studio 2017 RC.

[2016-11-29 16:27] gandarez commented on #61
I think would be better to wait a final version.

[2016-11-30 16:38] alanhamlett commented on #61
I've been looking into VS 2017 support but the vsix built with Visual Studio 2017 RC gives this error when uploading to the Marketplace:

`This extension targets Visual Studio 2017 but was not built with an up-to-date VSSDK. Please make sure to update your references and try uploading again. Note: you'll also need to add Prerequisites to your extension.vsixmanifest.`

Hopefully I'll figure it out

[2016-11-30 18:31] alanhamlett commented on #61
Looks like we have to create a new extension for 2010 support and use the v3 manifest file for this extension to support VS 2017...

[2016-11-30 21:00] alanhamlett commented on #61
@piwnik try installing from the Gallery (inside Visual Studio) and let me know if v8.0.5 works with VS2017 RC.

[2016-12-01 00:02] alanhamlett commented on #61
Now supports 2017:
https://marketplace.visualstudio.com/items?itemName=WakaTime.WakaTime

[2016-12-01 00:02] #61 closed

[2016-12-18 22:26] pkuoliver opened #62 "Visual studio express 2012 cannot install"
i download wakatime for vs express v8.0.5.vsix, but installed fail. the error info:

[code]

[2016-12-19 08:09] meNoob opened #63 "Visual Studio Express 2015 for Desktop"
WakaTime-express-v8.0.5.vsix
Wont install on Visual Studio Express 2015 for Desktop

Error Log

[code]

[2016-12-19 09:52] alanhamlett commented on #63
Can you try:

1. clone this repo
2. open the project in Visual Studio Express 2015
3. switch to the Express build profile
4. build the project
5. run the compiled vsix file inside Debug/Express folder

[2016-12-19 10:29] meNoob commented on #63
Honestly I wasn't able to import it to VS Express 2015 for Win Desk version 14.0.25431.01 Update 3

The only feedback I got is:
http://prntscr.com/dl8enx

[2016-12-19 20:45] alanhamlett commented on #63
That means the Solution is for a different version of Visual Studio. You can edit this line to say `14` instead of `15`, then re-open the Solution and Visual Studio should automatically upgrade the project to your VS version:
https://github.com/wakatime/visualstudio-wakatime/blob/1bd011595b39c2879bd35317350fe95b326f3582/WakaTime/WakaTime.csproj#L4

[2017-01-17 11:00] maurovanetti opened #64 "Visual Studio Express 2013 for Web"
I tried to install the extension for VS Express 2013 from here: https://github.com/wakatime/visualstudio-wakatime/releases/tag/8.0.6
It didn't work because of the dependency on Visual Studio MPF 11.0. This is the `extension.vsixmanifest` I found insized the `WakaTime-express-v8.0.6.vsix` archive:
[code]

I removed this line and it was installed (is the dependency not really needed?):
[code]

Never

[2017-01-30 20:31] alanhamlett commented on #64
Where can I download VS2013 for Web to get it working locally?

[2017-01-31 08:31] maurovanetti commented on #64
Here, I guess: https://www.microsoft.com/it-it/download/details.aspx?id=44912
Thank you.

[2017-03-10 04:36] alanhamlett commented on #13
Support for NTLM proxies was added with the wakatime cli release [v6.2.3](https://github.com/wakatime/wakatime/blob/master/HISTORY.rst#623-2017-02-15).

[2017-03-10 04:36] #13 closed

[2017-03-10 04:40] alanhamlett opened #65 "Support file paths with unicode characters"
Editing a file in Visual Studio with unicode chars in the path causes that coding activity to be lost. The plugin is probably not correctly encoding file paths when executing [wakatime cli](https://github.com/wakatime/wakatime) and the incorrect file path does not exist on disc, so is ignored.

Support for unicode file paths was added to wakatime-cli with wakatime/wakatime#32, so it should work if

[2017-03-31 16:08] erhanyasar opened #66 "Visual Studio for Mac Preview Not Listed as a Supported IDE"
There is already `Visual Studio` and `VS Code` in your [website](https://wakatime.com/editors) but, Visual Studio has a different (or new idk) IDE for `Mac` users. So not just for me but you had better add it to your list or at least up to public vote.

[2017-04-01 12:20] sergey-tihon commented on #66
Here is a related issue to track progress https://github.com/CodeCavePro/monodevelop-wakatime/issues/9 `VS for Mac` is evolution of `MonoDevelop`.

[2017-04-03 07:07] erhanyasar commented on #66
Tx @sergey-tihon. @alanhamlett by himself wanted me to create it since it's different from Xamarin and others related. You may feel free to close since you are already on it and I can keep track of the other issue.

[2017-04-03 14:47] alanhamlett commented on #66
Let's leave his issue open until either CodeCavePro/monodevelop-wakatime#9 or this repo works for Visual Studio for Mac.

[2017-04-21 18:39] salaros commented on #66
Hi everybody WakaTime addin has been recompiled for Visual Studio for Mac Preview Edition
I've just tested it and it works
[MonoDevelop.WakaTime_3.0.0..zip](https://github.com/wakatime/visualstudio-wakatime/files/948007/MonoDevelop.WakaTime_3.0.0.zip)

The problem is that http://addins.monodevelop.com repository itself is very unstable and no matter what it won't build/publish this new extension.

[2017-05-26 10:37] andre-paulo98 opened #67 "Visual Studio is not asking for API Key"
I just installed the Extension on the Visual Studio Enterprise 2015 but it doesn't ask for the API Key on the startup

[2017-05-26 14:20] alanhamlett commented on #67
Is there a `Tools` → `WakaTime Settings` menu available in your Visual Studio?

[2017-07-14 18:10] #67 closed

[2017-07-14 18:10] andre-paulo98 commented on #67
Forgot to close this. Sorry

[2017-10-03 09:47] 06needhamt opened #68 "Error when starting in VS 2017 and no time is logged"
Hi

I am facing an issue with the wakatime VS2017 extension the following error occurs upon starting the IDE and no time is logged.

[code]

Let me know if you need any more information

[2017-10-03 13:35] alanhamlett commented on #68
The first line of the error says it's connecting to IP `90.207.238.183`, but that IP is not the IP address of GitHub:

[code]

Do you use a proxy to connect to the internet?

[2017-10-05 13:48] 06needhamt commented on #68
No, I don't
But I have been having some issues connecting to GitHub over the last few days which seem to be resolved today and this error is no longer being thrown so this issue seems to be fixed

[2017-10-05 14:55] alanhamlett commented on #68
Ok that would cause these errors. Glad it's resolved, and let me know if we need to reopen in the future.

[2017-10-05 14:55] #68 closed

[2017-10-15 16:56] nckl opened #69 "Visual Studio 2017 extension is not logging or reporting time"
I am unable to get WakaTime extension for VS 2017 to log or report time. I have also installed the extension for VS Code and that is working correctly.

The  extension has installed correctly (or so it appears).
The output window for WakaTime does not indicate that there is anything wrong.
The API key has been added and it shown in the wakatime.cfg file
In the wakatime.log file there are entries f

[2017-10-15 20:46] alanhamlett commented on #69
Is there a File/Tools -> WakaTime Settings menu in VS?

[2017-10-16 00:30] nckl commented on #69
Yes the menu option is present.
Api key contains the Api key in my account.
There is no proxy set
And debugging is enabled.

Thanks.

[2017-10-23 14:39] nicolasroux opened #70 "Visual Studio Window API Key is very small on high definition screen"
Hi,

I just installed the plugin... here is a screen capture of the window to fill my licence key:

![vs_caption](https://user-images.githubusercontent.com/7628019/31895083-8c3ab658-b810-11e7-98b8-ad29b593ede6.png)

My resolution screen is 3840x2160 and The window is very tiny...

[2017-10-23 15:32] alanhamlett commented on #70
This is an issue with Vscode's Extension API, since it doesn't allow changing the size of [input boxes](https://code.visualstudio.com/docs/extensionAPI/vscode-api#InputBoxOptions).

[2017-10-23 15:42] nicolasroux commented on #70
Are you sure it has todo with VSCode ? this is running on Visual Studio Community, not VSCode.

And by the way, the whole window is tiny, maybe make it resizable would be an option.

[2017-10-23 15:57] alanhamlett commented on #70
Oops, sorry I thought this was Vscode. For Visual Studio we can make this window larger.

[2017-10-26 00:00] nckl commented on #69
One thing to note. I uninstalled the Visual Studio plug and remove the three wakatime files from the profile directory. When I reinstalled wakatime only the config file is able to be created there is no log file created. FWIW i am running VS 2017 v15.4.1

lastly when uninstalling wakatime it does not clean up the wakatime directory in appdata\roaming.

Hopefully you find this useful. Since i was u

[2018-01-01 13:54] CaddyDz opened #71 "Why two instances in the marketplace VS2017 community"
There are two instances of the Wakatime extension in the Visual Studio Extensions and Updates window as the screenshot below displays, why is that? and which one should I install?
![capture](https://user-images.githubusercontent.com/13698160/34468173-24529888-eeb8-11e7-923f-8d6cfefcb3b5.PNG)

[2018-01-01 18:24] alanhamlett commented on #71
One should be called `WakaTime (2010)` and the other just `WakaTime`:
https://marketplace.visualstudio.com/search?term=wakatime&target=VS

If you're using Visual Studio 2010 then you want the legacy 2010 version, otherwise you want the normal WakaTime version.

[2018-01-03 18:59] CaddyDz commented on #71
Thanks for the explanation

[2018-01-03 18:59] #71 closed

[2018-02-26 18:32] sandeepkru opened #72 "Proxy Settings not working on visual studio"
I keep getting below error irrespective of my proxy settings in $HOME/.wakatime.cfg file, other editors (emacs and atom) work fine without any proxy settings except visual studio. $HOME/.wakatime.log doesn't contain any logs related to visual studio related. Error details are below
[code]
Am I missing anything obvious here?

[2018-03-01 21:38] sandeepkru commented on #72
As workaround looking at code [Constants.cs](https://github.com/wakatime/visualstudio-wakatime/blob/master/WakaTime/Constants.cs), I've downloaded [wakatime-cli](https://github.com/wakatime/wakatime/archive/master.zip") and placed in it's expected location. New debug messages show that it seems pushing correctly, but I couldn't find values on dashboard though.
[code]

[2018-03-02 01:22] #72 closed

[2018-03-23 13:20] NunzioModesto opened #73 "Problem installing Plugin for Visual Studio 2010"
Hi I have problems installing the plugin in VS2010 .
I installed the plugin following the instructions where VS restarts it reports an error
I started VS2010 with the /log option and checked the activitylog.xml file
I noticed that the plugin can't start because it's looking for Microsoft.VisualStudio.Shell.11.0 which apparently is missing.

Any help would be aprriciated

[2018-03-24 08:06] NunzioModesto commented on #73
Solved!
I copied the missing assempby Microsoft.VisualStudio.Shell.11.0 from another machine where there is a VS2012 installed and copied to the same folder of the WakaTime dll

Would be nice to update the distribution package to include that file to avoid problems on machines where there is only a VS2010 installed.

[2018-03-24 08:06] #73 closed

[2018-05-02 09:20] jimmyjsk opened #74 "SSL error while downloading CLI update"
Hello, for a while now I have trouble downloading CLI updates. Ive done it manualy for previous version, but it has come up again.

The error in logs says:
[code]

The critical part is:
`Could not create SSL/TLS secure channel.`

I am sure I am not behind a proxy, and when I download  the CLI manualy with a browser from
`CliUrl = "https://github.com/wakatime/wakatime/archive/master.zip";` it works

[2018-05-03 08:09] alanhamlett commented on #74
Thanks for figuring this out! It should be fixed with 5d3c1b601cc1ce3639d810c86017816ccf7d1bf0, and released in v8.0.7.

[2018-05-03 09:09] jimmyjsk commented on #74
Thanks :-)

[2018-05-03 09:09] #74 closed

[2018-06-30 03:13] Cecil0o0 opened #75 "vue"
please support file-format with `.vue` suffix?

[2018-06-30 03:18] alanhamlett commented on #75
Vue files are already be supported and detected as language `Vue.js`.

[2018-08-06 09:15] Jazzman82 opened #76 "Problem behind corporate proxy"
**We are behind corporate proxy, so without any configuration in waka-time I see the following error in VS-Output-Window:**

[WakaTime HandledException 10:23:57 AM] Exception when checking current wakatime cli version: : System.Net.WebException: Unable to connect to the remote server ---> System.Net.Sockets.SocketException: Ein Verbindungsversuch ist fehlgeschlagen, da die Gegenstelle nach einer b

[2018-08-11 17:28] RyanFilho opened #77 "Installation Error Visual Studio 2017 Enterprise - Windows 10"
Visual Studio can not install the modifications.
Install is failed.

![image](https://user-images.githubusercontent.com/11152542/43994405-aff8957c-9d72-11e8-85d0-e79e36abfa07.png)

## VS Version:
Microsoft Visual Studio Enterprise 2017
Version 15.7.6
VisualStudio.15.Release/15.7.6+27703.2047
Microsoft .NET Framework
Version 4.7.03056
Installed Version: Enterprise
NuGet Package Manager   4.6.0

##

[2018-08-11 22:42] alanhamlett commented on #77
This looks like an intermittent error, if you restart Visual Studio then reinstall the plugin does it still error?

[2018-08-13 16:55] errosan opened #78 "Incorrect language detection for ASPX files"
The plugin is reporting ASPX as VB.NET language. ASPX pages have a language declaration at the beginning of the file, it would be better to use the language specified since aspx pages can be either language, vb or c#.

`<%@ Page Title="" Language="C#" %>`

[2018-08-13 18:57] #77 closed

[2018-09-10 03:43] jaydeepkarena commented on #51
Same issue here, I am using Visual Studio 2015 Community on Windows7 and even after uninstalling WakaTime, i can't debug my application, It just freezes at any breakpoint. I have to kill vs then re-open it.

[2018-09-21 11:51] khixr111 opened #79 "APi's settings"
where are the API's settings in VS 2015

[2018-10-26 17:55] jakubsuchybio commented on #51
Reported this to VS guys. Year later with year of freezing I found that it might be doing wakatime... So here we are. MSFT responded they will not fix this. It is some sort of Finalizer Threadlock most probably. I'm just finding it really unprofessional to have this kind of bug in production in extensibility APIs. Anyway, here is a full details. https://developercommunity.visualstudio.com/content/

[2018-10-27 03:38] alanhamlett commented on #51
@jakubsuchybio are you using VS inside a virtual machine? If you're not using a virtual machine then let's open a new issue since this one seems to only happen when using inside a VM.

[2018-10-27 06:59] jakubsuchybio opened #80 "VS2017 freezing randomly with WakaTime"
**History of my issue:**
One and half year ago I started getting random freezes of Visual Studio. So I reported it to MSFT multiple times... Here is one where I got some responses on it: https://developercommunity.visualstudio.com/content/problem/135843/visual-studio-frozen-randomly.html
I was desperate, it was driving me nuts so I tried to contact MSFT directly, but couldn't.
Then I started exper

[2018-10-27 15:34] alanhamlett commented on #80
Thanks for all the detailed info, and I understand this is frustrating. Sounds like the MS team thinks it's related to a threading deadlock and the only usage of threads in the WakaTime extension are these three `Task.run` calls:
https://github.com/wakatime/visualstudio-wakatime/blob/252bc83fa16d45e25f79b3525c3be07fe51d0729/WakaTime/WakaTimePackage.cs#L238

Would you be up for trying a custom buil

[2018-10-27 16:59] jakubsuchybio commented on #80
I am sorry, I wanted to report this as a good oss citizen, however I don't want to spend more time testing something that already took so much from me. I hope you understand.
I don't think, that there would be issue with Task's library. It is used in the wild so much, that this kind of bug would already be caught.
However I looked at your code and there are some points that I think could cause pro

[2018-10-27 17:37] alanhamlett commented on #80
I've added a setting to disable threading in v8.1.0 of the extension, and I'll release a new version today improving RunProcess to prevent blocking and stop using `Task.Run` when appending to the in-memory queue.

Currently the timer executes every 8s, but I'd like to chain the timer so it only executes 8s after the last execution has finished. I'll look into doing that after this first round of f

[2018-10-27 17:49] alanhamlett commented on #80
With debug mode turned off (default) this bug wouldn't be triggered since we skip reading process output unless debug mode is on.

[2018-11-12 01:51] liang0213 opened #81 "VS2017无法安装WakaTime"
我的电脑同时安装了VS2013与VS2017,静默安装时,提示System.InvalidOperationException: Cannot find setup engine instance.将wakatime下载后安装只能安装在vs2013上

[2018-11-23 13:19] sklirg opened #82 "Network mounted directories report "file not found" for all files"
Is tracking of files in a network-mounted directory supported? If so, it doesn't seem to work correctly.

My `.wakatime.log` is riddled with lines like these

[code]

I run VS 2017 with elevated privileges, and I can see the network mounted folder in Explorer as admin. I've even tried setting a registry option to try to remedy the issue ([ref](http://www.winability.com/how-to-make-elevated-program

[2018-11-23 14:14] sklirg commented on #82
I found this issue which seems related (from the VSCode extension). As far as I can understand from the log line pasted above, the version of wakatime-cli is 10.4.2 which should include the fix mentioned in the issue. However, it's still an issue.

https://github.com/wakatime/vscode-wakatime/issues/56#issuecomment-426544416

[2018-11-23 15:59] JayPeet commented on #69
I had the same issue today.

Fixed it by reinstalling python 2.7. I did have python installed when it did work, but then was required to reset my Windows install, which caused python to stop working.

Hope that helps anyone else with the issue.

[2018-12-05 12:52] pocki opened #83 "Support for Visual Studio 2019"
Support for Visual Studio 2019 (Preview) would be nice.
Mabye this can be helpful [https://blogs.msdn.microsoft.com/visualstudio/2018/09/26/how-to-upgrade-extensions-to-support-visual-studio-2019/](https://blogs.msdn.microsoft.com/visualstudio/2018/09/26/how-to-upgrade-extensions-to-support-visual-studio-2019/)

[2018-12-19 13:13] liang0213 commented on #81
2018-12-19 21:13:40

[2018-12-19 13:13] liang0213 commented on #81
2018-12-19 21:13:55

[2018-12-19 13:13] #81 closed

[2018-12-29 00:10] #82 closed

[2019-01-07 17:10] draniza355 commented on #83
https://blogs.msdn.microsoft.com/visualstudio/2018/09/26/how-to-upgrade-extensions-to-support-visual-studio-2019/
#84 Upgrade to VS 2019

[2019-01-07 17:12] draniza355 opened #85 "Wakatime / visualstudio-wakatime"
Issues Wakatimr/ visualstudio-wakatime #85

[2019-03-09 04:43] alanhamlett commented on #83
Implemented with #84

[2019-03-09 04:43] #83 closed

[2019-03-09 04:59] #85 closed

[2019-03-09 05:02] alanhamlett commented on #79
Settings for the VS plugin are inside Visual Studio's built-in menu:

Tools -> WakaTime Settings

Settings for the [WakaTime core](https://github.com/wakatime/wakatime#configuring) are stored in an INI file at `C:\Users\<user>\.wakatime.cfg`.

More info about settings and troubleshooting:
https://github.com/wakatime/visualstudio-wakatime#troubleshooting

[2019-03-09 05:02] #79 closed

[2019-04-03 01:38] #75 closed

[2019-04-03 01:39] gandarez commented on #70
Fixed on version 9.0.1

[2019-04-03 01:39] #70 closed

[2019-04-03 01:40] #69 closed

[2019-04-03 17:54] gandarez opened #87 "Support BackwardsCompatibleAsyncPackage"
https://docs.microsoft.com/en-us/visualstudio/extensibility/how-to-use-asyncpackage-to-load-vspackages-in-the-background?view=vs-2019

[2019-04-04 01:09] alanhamlett commented on #87
Also an example:

https://github.com/Microsoft/VSSDK-Extensibility-Samples/blob/master/Backwards_Compatible_AsyncPackage_2013/BackwardsCompatibleAsyncPackage/BackwardsCompatibleAsyncPackage.cs

[2019-04-04 01:43] tb-mtg opened #88 "Deprecated Apis Visual Studio 2019"
I am able to install the extension in Visual Studio 2019 but it gives the following warning every time:

Can this be fixed?

[2019-04-04 03:21] alanhamlett commented on #88
Yes, this will be fixed with #87.

[2019-04-04 08:08] vnwonah opened #89 "Support for Visual Studio For Mac 2019"
Wakatime isn't listed when I try to add the extension to the just released Visual Studio for Mac 2019.

[2019-04-04 08:13] #89 closed

[2019-04-04 09:18] alanhamlett commented on #89
Possibly due to #87.

[2019-04-04 12:29] #88 closed

[2019-04-06 15:01] gandarez commented on #87
There's no more deprecated api warning :)

PR made at https://github.com/wakatime/visualstudio-wakatime/pull/90

![image](https://user-images.githubusercontent.com/782854/55671039-e515e480-5861-11e9-8674-131d812404fe.png)

[2019-04-06 15:03] gandarez commented on #80
Maybe this PR https://github.com/wakatime/visualstudio-wakatime/pull/90 solves this problem

[2019-04-07 03:12] alanhamlett commented on #80
Probably not fixed with #90, because that would only fix freezing on startup but this issue is about freezing after a break.

Maybe d3bb1568780bf51a0d88380a904b0eb6c5eb74d8 will fix this by preventing deadlocked io, such as @jakubsuchybio's comment above. Will release a new version of the extension after #90 is merged.

[2019-04-07 14:54] #87 closed

[2019-04-22 23:58] gandarez commented on #76
@Jazzman82 update to latest version and let me know if it's working.

[2019-04-25 05:15] Jazzman82 commented on #76
I just checked again and with the latest version from marketplace (10.0.3) it works

[2019-04-25 05:15] #76 closed

[2019-05-06 07:10] tfflyer opened #92 "在我的visualstudio2017的扩展里无法找到wakatime"
扩展里搜索不到wakatime

[2019-05-06 15:49] alanhamlett commented on #92
Here it is:

https://marketplace.visualstudio.com/items?itemName=WakaTime.WakaTime

[2019-05-06 15:49] #92 closed

[2019-05-13 13:03] urbanmichal opened #93 "Installing instruction can be wrong"
Installing instructions (https://wakatime.com/visual-studio) states:

"Inside Visual Studio, navigate to Tools → Extensions and Updates…"

In VS 2019 (16.0.3, stable version) there's no "Extensions and Updates..." menu item, but Extensions menu after Tools menu.

[2019-05-13 14:13] alanhamlett commented on #93
Updated the instructions, will update screenshot also in future.

[2019-05-13 14:13] #93 closed

[2019-05-22 19:14] J-kit opened #94 "[VS19] Wrong location"
Currently, one can find the extension in Tools -> WakaTime. But I think this is the wrong location.
It should be in Extension -> WakaTime like every other extension

[2019-05-22 19:32] alanhamlett commented on #94
Sounds good, we should only move it for VS 2019 by detecting if an Extensions menu exists otherwise add it to Tools menu for backwards compatibility with older VS versions.

[2019-05-22 20:31] gandarez commented on #94
Will see if it's possible

[2019-05-23 17:06] gandarez commented on #94
@J-kit is it possible to indicate at least one extension which has this behaviour (a menu under Extensions menu)?

[2019-05-23 21:37] J-kit commented on #94
@gandarez Sure, Resharper and Codemaid

[2019-05-27 12:57] gandarez commented on #80
@jakubsuchybio is it still happening?

[2019-05-27 18:32] jakubsuchybio commented on #80
I abandoned WakaTime. This was just too much of reminding pain. Image that your main work IDE would freeze 10 times a day and every unsaved work would be lost. That I lived with for 1,5 years before I figured out that WakaTime was doing that.

[2019-05-27 19:22] omarpiani commented on #80
Reinstalled today on VS2019 and no freezings

[2019-05-27 20:40] gandarez commented on #80
@jakubsuchybio I'd suggest you to reinstall the extension since it has been always improved by our team.

[2019-05-27 20:41] gandarez commented on #80
Thanks for the feedback.

[2019-05-27 20:41] #80 closed

[2019-07-02 13:08] gandarez commented on #94
Need some attention on doing this because couldn't find a way of hiding root menus dinamically.

[2019-07-04 16:15] gandarez commented on #78
@errosan are you using visual studio?

[2019-07-04 18:44] alanhamlett commented on #78
Looks like Pygments (the library we use for language detection) already supports detecting `language` attribute from `Page` tags:

https://bitbucket.org/birkenfeld/pygments-main/src/e63f7b68898445836091b51cfa81bf0613fb05eb/pygments/lexers/dotnet.py#lines-499

We might be not correctly using this information from pygments, or truncating the language name since we only support a single language whil

[2019-08-15 20:47] gandarez commented on #78
Closing due to the lack of response, feel free to reopen @errosan.

[2019-08-15 21:12] errosan commented on #78
@gandarez Yes, Visual Studio. Please reopen.

[2019-08-16 05:12] alanhamlett commented on #78
Here's a screenshot of the server-side language rule overrides we have related to asp:
<img width="607" alt="Screen Shot 2019-08-15 at 9 53 55 PM" src="https://user-images.githubusercontent.com/522344/63144341-4afc4080-bfa7-11e9-9133-0770a64639d8.png">

That means we're not overwriting the language server-side. Probably what's happening is the `VB.NET Lexer` is using priority `0.5`:
https://github

[2019-08-16 12:18] gandarez commented on #78
@alanhamlett would be possible to call the api and add an extra parameter to force the language? I think the `visualstudio extension` can read the first line of the file and decide if it's `C#` or `VB.NET`.

[2019-08-24 05:39] ooojustin commented on #94
+1, after installing the extension I didn't even know where to set my API key until I read this issue and noticed that WakaTime was under "Tools" rather than "Extensions".

[2019-12-31 20:00] tiberhealth opened #97 "Wakatime Exceptions in Visual Studio for Mac (Professional V 8.3.11)"
Wakatime does not seem to be updating my hours on a constant basis through Visual Studio For Mac.

Visual Studio for Mac Version 8.3.11 Professional. This is happening on the Macbook Pros and the Mac Minis different form factors.

Looking into the IDE log, I am seeing the following error:

ERROR [2019-12-31 13:48:01Z]:
System.ArgumentNullException: Value cannot be null.
Parameter name: source
  at

[2019-12-31 20:03] tiberhealth commented on #97
Forgot Version information: Visual Studio for Mac Version 8.3.11 Professional. This is happening on the Macbook Pros and the Mac Minis different form factors.

[2020-01-27 18:00] #64 closed

[2020-01-27 18:01] #63 closed

[2020-01-27 18:01] #62 closed

[2020-01-27 18:02] #51 closed

[2020-01-27 18:03] #65 closed

[2020-04-02 06:59] jacksiro254 opened #101 "Can't get to install on VS 2017"
For some unknown reasons I just can't seem to get a clue even from the logs why wakatime installs perfectly on VS 2015 and 2019 but not on 2017.

Is it like its not supported or its a problem on my end?

[2020-05-01 10:41] danypd69 opened #102 "Does not work on VS2019"
I get this error in the output window when starting VS2019 16.5.4 and the extension does not load.

[WakaTime Info 12:40:14 PM] Initializing WakaTime v10.0.3
[WakaTime HandledException 12:40:14 PM] Are you behind a proxy? Try setting a proxy in WakaTime Settings with format https://user:pass@host:port. Exception Traceback:: System.Net.WebException: An exception occurred during a WebClient request.

[2020-05-02 05:33] #102 closed

[2020-05-02 05:33] danypd69 commented on #102
Works after restarting computer.

[2020-05-15 05:27] wrb233 commented on #73
thank you for your experience！！！

[2020-06-03 16:33] shrike99 opened #103 "Not gathering data after having downloaded"
I have downloaded WakaTime on both Visual Studio and Visual Studio Code. When I run it on Visual Studio Code, it loads up perfectly on my dashboard with all my data showing and doing all the correct things, but when I use my Visual Studio, nothing shows up. I have looked at the Output window and here is what it shows:

`[WakaTime Debug 05:25:02 PM] ["C:\Python30\pythonw", "C:\Users\User-PC\AppData

[2020-07-20 19:03] michaelm7456 commented on #101
I had encountered the '**Cannot find setup engine instance**' issue and found that by installing a missing Visual Studio Workload that this resolved the issue.

Via the '**Visual Studio Installer**' app (Check the '**Visual Studio Extension Development**' Workload is installed.)

[Stack Overflow answer]
https://stackoverflow.com/questions/54382367/visual-studio-extension-installation-cannot-find-s

[2020-07-30 11:31] vaartis opened #105 "On uninstallation, there is an error because "LICENSE.txt" doesn't exist that prevents it from completing"
When uninstalling the plugin, I got an error message that said the file `C:\Users\MYUSER\AppData\Local\Microsoft\VisualStudio\16.0_1d542bea\Extensions\LICENSE.txt` doesn't exist which prevents the plugin from uninstalling. Manually creating that file allowed me to uninstall it successfully.

[2020-08-07 11:39] gandarez commented on #105
That file is not related to `WakaTime` installation. All files needed to uninstall WakaTime is in a folder further. Because Visual Studio creates a hash to identify the folder you might see them with different hashes and after you find it you realize that the file `LICENSE.txt` exists.

Visual Studio Extensions folder in my machine: `C:\Users\<user>\AppData\Local\Microsoft\VisualStudio\16.0_22f4b8

[2020-08-31 02:14] MattLebrao opened #106 "Measure debugging time"
Considering wakatime APIs imply the system is ready to time activities other than coding, it would be really useful if we could also measure the time we spend debugging projects. Debugging is as much part of the development time as coding itself.

[2020-08-31 18:55] alanhamlett commented on #106
We just need to find the IDE event for debugging and listen to it:
https://github.com/wakatime/visualstudio-wakatime/blob/69f0ab132580a7caa3587e8c2b90052b42883a70/WakaTime/WakaTimePackage.cs#L106

[2020-08-31 20:07] MattLebrao commented on #106
Thank you for pointing out this document. I've already found the relevant VSIX documentation on the DebuggerEvents class. I'm forking the repo and maybe I'll make a pull request when it's properly done and tested.

[2020-08-31 20:07] MattLebrao commented on #106
Thank you for pointing out this document. I've already found the relevant VSIX documentation on the DebuggerEvents class. I'm forking the repo and maybe I'll make a pull request when it's properly done and tested.

[2020-08-31 22:47] MattLebrao commented on #106
@alanhamlett I've had to make changes to another repo ("wakatime/nuget-wakatime-shared-extension-utils") in order to have the standard `WakaTime` class (referenced by the VS Plugin) to support the cli's "category" parameter. Later on I'm gonna need some info on how to proceed with the pull requests considering I've had to change two separate repos. It would make sense to pull the dependency first,

[2020-08-31 23:24] alanhamlett commented on #106
First the Nuget package should be updated, then we can merge the PR for VS.

[2020-09-01 12:13] gandarez commented on #106
@MattLebrao submit the PR and I take care of it.

[2020-09-01 12:25] MattLebrao commented on #106
@gandarez I was actually writing a quick question here as you made your comment.
As expected I got carried away with the possibilities and implemented more things than I originally intended haha
I've implemented some new editor events I think may have been overlooked (or perhaps non-existent at the time the plugin was wrote). All I need now is some conceptual info. I am setting up how each event w

[2020-09-01 12:31] MattLebrao commented on #106
I've made quite a few changes I believe are gonna be welcome. Among them, I realized the plugin lacked a response to file changes, which meant a big potential for inaccuracies. Initially I thought it was intentional, until I saw the [Handling Editor Events](https://wakatime.com/help/creating-plugin#handling-editor-events) section of the "Creating a Plugin" help page. Which made me think it was pro

[2020-09-01 13:55] gandarez commented on #106
To understand all the differences and how to mix them up please refer to @alanhamlett he is the owner of that.

[2020-09-01 16:32] alanhamlett commented on #106
We should copy Xcode and use `type: file` with `category: building`. The `app` type is a placeholder for [wakatime-desktop](https://github.com/wakatime/desktop) to track app window usage without needing an IDE plugin.

[2020-09-01 16:55] alanhamlett commented on #106
This one depends: Can a file be edited at the same time as building in background? If so, we should use the currently focused code file and just change category to `building`. I can see cases where builds last several minutes and the dev is typing code while waiting. If building blocks all IDE usage, then it's ok to use the build output file.

[2020-09-01 17:52] MattLebrao commented on #106
Roger that, @alanhamlett

I'll check whether or not the build process blocks the IDE, I think it does, but either way, the IDE saves all files at the beginning of a build and uses that version on the build, which means **changes during the code will be additions not included in the ongoing build**, and therefore will be considered "coding" by the DocumentOpened, DocumentSaved, and the newly implem

[2020-09-01 19:58] MattLebrao commented on #106
As I was documenting my changes on the pull request I had an idea that will improve the measuring of long build times (and THEN I understood what @alanhamlett meant with:

Basically, the file related events will keep track of the build status (they already keep track of the debugger to act on it). If there is an ongoing build it will act upon it.
Like I said, it doesn't make much sense to record "

[2020-09-05 16:04] guibranco opened #108 "Display worked time in status bar"
Display the worked time on project in the Visual Studio status bar, like the Visual Studio Code extension.

![image](https://user-images.githubusercontent.com/3362854/92309039-55a1c300-ef78-11ea-9be7-9a00a18b4dec.png)

[2020-10-10 08:02] mmaenz opened #109 "Does not work on VS 2015"
Installing is okay, after restart it fails.

Reason:
`<entry>
    <record>441</record>
    <time>2020/10/10 07:46:32.087</time>
    <type>Error</type>
    <source>VisualStudio</source>
    <description>LegacySitePackage failed for package [WakaTimePackage]Source: &apos;mscorlib&apos; Description: Could not load file or assembly &apos;Microsoft.VisualStudio.Shell.Framework, Version=15.0.0.0, Cultur

[2020-10-11 13:15] gandarez commented on #108
Working in a possible solution.

[2020-10-11 13:16] #106 closed

[2020-10-11 13:40] gandarez commented on #109
Which VS 2015 version are you using?

[2020-10-16 09:09] mmaenz commented on #109
Thank you for helping me!

![image](https://user-images.githubusercontent.com/22559887/96239339-dd2f1880-0f9f-11eb-9f2d-0bafca44bccf.png)

[2020-11-03 11:27] nvisage-gf commented on #109
Same issue with `Microsoft.VisualStudio.Shell.Framework, Version=15.0.0.0` not being located, same VS 2015 Professional Version 14.0.25431.01 Update 3; WakTime 1.0

[2020-11-10 21:13] MoneyIgos opened #110 "I can't apply my API Key"
I installed WakaTime extension, restarted vs, and i don't have this window to apply the key, only installation window.

<i>I'm using Visual Studio 2019 on windows</i>

[2020-11-13 10:34] #110 closed

[2020-12-10 00:49] ClearSeve commented on #109
same

[2020-12-10 00:51] ClearSeve commented on #109
![Uploading image.png…]()

[2020-12-10 00:51] ClearSeve commented on #109
![image](https://user-images.githubusercontent.com/26833671/101706823-e7175880-3ac4-11eb-9fb6-91b3c9d41fca.png)

[2020-12-11 14:41] Fliw opened #111 "Form API Window Not Appear on VS2019"
hi, after i'm installing this extension and restart it which extension is installed in backgrounf (and it's say installation success) then i'm opening the VS and it's work usually, no window appear that asking for my private APIKEY.. so, how i input my APIKEY there?

[2020-12-11 20:18] alanhamlett commented on #111
Tools → WakaTime Settings.

[2020-12-11 20:18] #111 closed

[2020-12-23 18:13] alanhamlett opened #112 "Element not found Exception when installing"
Error when installing on VS2019, originally reported [on twitter](https://twitter.com/xkem0x/status/1341752267603623936).

![vs2019_install_error](https://user-images.githubusercontent.com/522344/103025826-7120e180-4507-11eb-9d97-708fdb174c90.png)

[2021-01-28 18:29] alanhamlett commented on #105
Re-opening because another report came in showing the error is still occurring when trying to uninstall.

![visualstudio-uninstall-error](https://user-images.githubusercontent.com/522344/106182474-b3b38a80-6153-11eb-8a14-8b12821bf945.png)

[2021-01-28 18:42] pluczak99 commented on #105
I encountered this problem on Jan 28th 2021 with the version of WakaTime that was most recent at the time and was installed as an extension in VS.NET 2019 Enterprise.

Creating an empty LICENSE.TXT file in the path mentioned by @alanhamlett (modified accordingly for my user name) resolves the problem.

BTW I would suggest that if WakaTime uses folder EXTENSIONS as the location to place the license

[2021-04-05 21:59] BaseMax opened #113 "Unable to load/use wakatime extension in visual studio"
Hi folks,

Visual studio at Windows 7 in the `virtualbox` at my main Arch Linux system.
![vs-ver](https://user-images.githubusercontent.com/2658040/113632292-18bdbc00-9680-11eb-92b2-dfc5a32be70d.jpg)

Error dialog after restart visual studio while VS want to load the `wakatime` extension:

![demo-error](https://user-images.githubusercontent.com/2658040/113632101-c54b6e00-967f-11eb-8ce3-c6ace35c7c7

[2021-04-13 21:40] SUXUMI commented on #109
The same issue:

![image](https://user-images.githubusercontent.com/5499359/114624687-1ed81c00-9cc2-11eb-8aad-de0bdc2b2b46.png)

![image](https://user-images.githubusercontent.com/5499359/114624460-c7d24700-9cc1-11eb-9c03-7d38c41a1106.png)

![image](https://user-images.githubusercontent.com/5499359/114624771-3e6f4480-9cc2-11eb-9890-451b048e30f4.png)

[2021-05-25 20:38] tiberhealth opened #114 "Wakatime does not recognize .Razor files and places them in other"
It looks like Wakatime marks .razor files (Blazor source) as other.  We cannot find a way to add the .razor extension as a know file type for analytics purposes.

To reproduce - open visual studio 2019 and start a Blazor project and start working in one of the .razor files. The analytics is being lumped into the other category. Then work on a .razor.cs file, it looks like the .cs is properly picke

[2021-05-25 20:40] tiberhealth commented on #97
It looks like this has been resolved in an upgrade or was being caused by something outside of wakatime that was fixed by an update.  We are no longer seeing the messages.

Thanks,
Bryan

[2021-05-27 06:08] xiaokangdream commented on #109
Same

[2021-06-03 06:42] peeush-the-developer commented on #105
+1 @pluczak99
I encountered the same issue today with uninstall of WakaTime extension from VS 2019. I had to add an empty "LICENSE.TXT" file in my VS 2019 Extensions folder to successfully uninstall the same.

[2021-06-22 09:21] ClearSeve commented on #109
I need help

[2021-07-26 08:58] pocki opened #115 "Visual Studio 2022 Support"
Please add support for the new Visual Studio 2022.

[2021-07-28 01:50] ClearSeve commented on #109
WakaTime.log:

[Wakatime Info 09:34:57 AM] Initializing WakaTime v4.2.1
[Wakatime HandledException 09:34:57 AM] Are you behind a proxy? Try setting a proxy in WakaTime Settings with format https://user:pass@host:port. Exception Traceback:: System.Net.WebException: The request was aborted: Could not create SSL/TLS secure channel.
   at System.Net.WebClient.DownloadFile(Uri address, String fileName)

[2021-07-28 19:47] AndreJuliano opened #116 "Waka not sending activity"
Hi, guys.

I installed WakaTime on Visual Studio 2019 for ASP.Net projects time tracking. Unfortunately it is not showing any activity in the Dashboard. I activated logging. There is an error related to SSL. I realized also that there is an ".waketime.db" file in my user's folder
and this file is not empty. Looks like WakaTime is recording activities correctly but it is not beeing able to send the

[2021-07-29 18:33] gandarez commented on #116
Hi @AndreJuliano,

Are you under a VPN or corporate proxy?

[2021-07-29 21:25] AndreJuliano commented on #116
Hi, Carlos.

No, I'm not behind a proxy or corporate firewall. However, your question
made me realize I am using Fiddler and I already experienced some
networking troubles when Fiddler is running. Actually, today Waka Time was
capable of send data to the server. May be Fiddler was not running at that
moment. I will do some more tests to check if Fiddler may be interfering in
the connection.

Em qu

[2021-08-12 15:48] mingy532 commented on #105
I encountered the same issue,thanks for @peeush-the-developer

[2021-08-12 23:24] gandarez commented on #113
Starting from v11.0.0 we no longer support legacy visual studio version. Only Visual Studio 2015 and later are now supported, please update yours to the one is supported.

[2021-08-12 23:24] #113 closed

[2021-08-12 23:25] gandarez commented on #112
Released a new version (v11.0.0) might fix this issue.

[2021-08-12 23:25] #112 closed

[2021-08-12 23:26] gandarez commented on #109
We've just released a new version (`v11.0.0`), please update WakaTime and feel free to open a new issue.

[2021-08-12 23:26] #109 closed

[2021-08-12 23:26] gandarez commented on #105
We've just released a new version (` v11.0.0`) that fixes this issue.

[2021-08-12 23:26] #105 closed

[2021-08-12 23:27] gandarez commented on #101
We've just released a new version (` v11.0.0`), please update WakaTime and feel free to open a new issue.

[2021-08-12 23:27] #101 closed

[2021-08-13 01:38] ReddeR1337 commented on #115
any news ?

[2021-08-13 12:40] alanhamlett commented on #115
Yes, we're almost ready with VS2022 support. [v11.0.0](https://github.com/wakatime/visualstudio-wakatime/releases/tag/11.0.0) just released is working towards that.

[2021-08-13 15:20] hootanht opened #118 "Wakatime not familiar with visual studio 2019 16.11"
wakatime Extention is crashing my visual studio version 16.11 (not responding) please fix that
@alanhamlett

[2021-08-13 18:44] gandarez commented on #118
Hi @hootanht,

Which WakaTime version have you installed? Also please take a look at `%AppData%\Microsoft\VisualStudio\<version>\ActivityLog.xml.` to find out some error.

[2021-08-13 18:45] hootanht commented on #118
wakatime 11.00

[2021-08-13 18:53] gandarez commented on #118
I have here the same VS 2019 update. Did you have a chance to take a look at log files?

[2021-08-13 18:54] hootanht commented on #118
yeah, what should I do?
@gandarez

[2021-08-13 18:57] gandarez commented on #118
`%AppData%\Microsoft\VisualStudio\<version>\ActivityLog.xml` any problem to any extension is printed in this file. Please take a look.

[2021-08-13 19:23] hootanht commented on #118
https://user-images.githubusercontent.com/27281206/129407606-f5a4dcfc-8e44-4dfa-83fd-689694342641.mp4

@gandarez

[2021-08-13 22:57] gandarez commented on #115
Hi all,

WakaTime for VS 2022 is now available to be installed on VS 2022 preview.

https://marketplace.visualstudio.com/items?itemName=WakaTime.WakaTime-2022-preview

[2021-08-13 22:57] #115 closed

[2021-08-14 05:57] hootanht commented on #118
wakatime 10.3.1 is working fine but 11.00 is crashing all the time
@gandarez @alanhamlett

[2021-08-14 07:34] hootanht commented on #118
![Screenshot 2021-08-14 120427](https://user-images.githubusercontent.com/27281206/129438880-6ea0e8b8-d57b-4392-938c-210d30c3985d.png)

[2021-08-14 07:35] hootanht commented on #118
![Screenshot 2021-08-14 120543](https://user-images.githubusercontent.com/27281206/129438908-10900e49-54ca-4667-8611-6e8bb30d8ddb.png)

[2021-08-14 12:26] gandarez commented on #118
Hi, without attaching `%AppData%\Microsoft\VisualStudio\<version>\ActivityLog.xml` won't be able to analyze the error.

[2021-08-16 12:07] gandarez commented on #118
Hi @hootanht, a new version `v11.0.1` has been relesead. Please update and give me a feedback.

[2021-08-17 09:23] hootanht commented on #118
@gandarez it's work fine now, thanks

[2021-08-24 15:52] #118 closed

[2021-08-28 23:49] ericcleptonsilva opened #121 "Disregard"
Disregard

[2021-08-30 13:32] #121 closed

[2021-08-30 13:32] gandarez commented on #116
We've updated WakaTime for Visual Studio, please do update your extension.

[2021-09-09 02:22] #116 closed

[2021-10-10 15:17] fordeka opened #122 "Excludes and includes no longer working?"
I've used this in my wakatime.cfg file for years:

[code]

I want to exclude all projects outside the c:\work\ directory on my Windows machine. I'm pretty sure the above cfg worked until very recently- I tried variations on the above and a complete reinstall but nothing I try stops heartbeats from being logged from projects outside the c:\work\ directory.

I don't know if it's related, but when I

[2021-10-12 12:38] gandarez commented on #122
Hi @fordeka it could be related to the new wakatime-cli (Go) we've launched this year. I'll take a look into this.

[2021-11-18 15:24] #97 closed

[2021-11-18 18:14] alanhamlett opened #123 "Package did not load correctly error from System.IO.FileNotFoundException"
![error](https://user-images.githubusercontent.com/522344/142472598-2143f1f8-4159-489f-854d-9107765e6960.png)

[code]

[2021-11-20 16:12] gandarez commented on #122
Hi @fordeka sorry for this belated reply. I've tested against multiple scenarios and it's working as expected. Could you please enable ` debug = true` in your wakatime config file and then check if there's any error on it?

[2021-12-08 18:12] Arlodotexe opened #124 "Support for Visual Studio 2022"
Visual Studio 2022 launched in early November, and the WakaTime extension for 2022 isn't available yet. What's the state of it?

[2021-12-22 22:38] fordeka commented on #122
@gandarez Thanks for the reply. I tried it again on a different machine with a clean install of everything, now with VS 2022. Same problem, no errors in the log. I feel like it might be a problem with the way I wrote the include/exclude in my config- I couldn't find a good example for Windows and originally just got it working through trial and error. Can you share the example you tested it with?

[2021-12-23 00:17] alanhamlett commented on #122
Previously we used case-insensitive regex patterns. Maybe this changed in the new wakatime-cli. Does it work with lowercase `c:\\`? Also try forward slash `c:/work`.

[2022-01-27 17:09] zolakt opened #125 "Does not work with VS2015"
There has been a similar issue reported here https://github.com/wakatime/visualstudio-wakatime/issues/109

It is supposed to work with v11, but it doesn't, at least not for me.

It was working a while ago, it no longer does.
I've tried uninstalling/installing multiple times.
When I go to Tools->WakaTime->Settings it doesn't open any window.

In the ActivityLog.xml, I've found this:

`
CreateInstan

[2022-01-27 21:12] alanhamlett commented on #125
Yes, looks like when trying to support VS 2022 we had to upgrade to `Microsoft.VisualStudio.Shell.15.0` since VS 2022 won't work with `Microsoft.VisualStudio.Shell.14.0`.

Here's the list of older versions:
https://github.com/wakatime/visualstudio-wakatime/releases

@gandarez do you have any input on this?

[2022-01-27 21:46] gandarez commented on #125
I'm still looking for a fix. First I need to confirm how's the lib is referenced and why this specific version is not working on 2015. I'll bring more details soon.

[2022-01-27 23:18] alanhamlett commented on #125
@zolakt can you confirm which version of the plugin you have installed?

[2022-01-28 07:58] zolakt commented on #125
I've just installed the latest from VS2015 (it doesn't let me choose a version). So it's 11.1.0

Can someone tell me what is the last version that references Microsoft.VisualStudio.Shell.14.0?
It 10.3.1 ok?

[2022-01-28 08:27] zolakt commented on #125
10.0.3 seems fine, at first. The settings window in VS2015 is working again.

However, when I restart VS I get this error:
![image](https://user-images.githubusercontent.com/1048531/151512551-4117225b-4642-4789-b4da-2748cd08468a.png)

And in the ActivityLog.xml, it still seems something is requesting Microsoft.VisualStudio.Shell.15.0
![image](https://user-images.githubusercontent.com/1048531/15151

[2022-01-28 08:49] zolakt commented on #125
10.0.3 seem to work, at first, but it's not sending any data.
The settings window is working again. Everything seems fine, but it doesn't send anything.
I've enabled debug. There is no .wakatime.log file in the user folder. Only .wakatime.cfg

Any suggestions?

[2022-02-01 11:24] gandarez commented on #122
@fordeka any update here?

[2022-02-11 17:56] #123 closed

[2022-02-11 17:56] #124 closed

[2022-02-12 17:55] gandarez commented on #125
Please uninstall current extension and find for wakatime on the gallery to install a new version.

[2022-02-12 17:56] gandarez commented on #124
Please update to the latest version.

[2022-02-14 02:17] Jaiganeshkumaran opened #127 "Recognise .ixx and .cppm file extensions as C++"
C++20 introduced modules, a replacement for header files. However currently, Wakatime doesn't recognise them and categorises them under other languages. Please recognise files with an extensions: .ixx or .cppm as C++ source files.

[2022-02-14 12:28] ErivandoBR commented on #125
I tested the new update (13.0.0) it is working in visual studio 2015 (and 2022), thanks.

[2022-02-14 13:35] #125 closed

[2022-02-24 16:11] ADCJustinH opened #128 "Windows Defender warning (Win 11 VS 2022)"
Using latest non preview versions of Windows 11 and Visual Studio 2022 I am getting constant warnings that

PUA:Win32/Caypnamer.A!ml has been detected in wakatime-cli-windows-amd64.exe

[2022-02-24 16:12] #128 closed

[2022-02-24 19:36] alanhamlett commented on #128
Tracking this in https://github.com/wakatime/wakatime-cli/issues/660

For now, please allow it to run since this is a false positive.

[2022-04-06 09:20] signed-log opened #129 "Allow install on VS2022"
VS2022 has been out since Nov. That would be useful to allow VS2022 install

[2022-04-06 09:24] #129 closed

[2022-06-16 00:12] KennyTK opened #130 "Visual Studio 2019 Installation Error"
I'm attempting to install the plugin into the following visual studio instance.
[code]

Upon restart I'm met with the following dialogues.

![image](https://user-images.githubusercontent.com/16214078/173961891-6c475fc4-c9f0-4508-a212-39b8700d02ef.png)

![image](https://user-images.githubusercontent.com/16214078/173961938-04998cd6-d205-4251-86a1-8e17c282aed2.png)

I'm unsure what the root cause cou

[2022-06-17 19:03] KennyTK commented on #130
I've solved this by updating to a newer version of visual studio.

[2022-06-17 19:03] #130 closed

[2022-07-18 10:08] tpesl opened #131 "VisualStudio WakaTime extension on M1 ARM doesn't work"
Hi,

I just upgraded to Visual Studio 2022 on MacBook Pro M1 Max (ARM) using Parallels.

Unfortunately, WakaTime extension throws an error every time I open Visual Studio. Here are the details:

Create Instance failed for package [WakaTimePackage] Source: 'mscorlib' Description: Could not load file or assembly 'file:///c:\users\test\appdata\local\microsoft\visualstudio\17.0_45d60efe\extensions\44g

[2022-07-19 04:35] alanhamlett commented on #131
If you're running VS on Windows inside a virtual machine, it shouldn't matter if the host is using M1 or Intel processor right?

[2022-07-19 05:01] tpesl commented on #131
It matters...: "An attempt was made to load a program with an incorrect format.". Extension has been installed using integrated Visual Studio extensions installer.

<img width="449" alt="Screenshot 2022-07-19 at 06 59 00" src="https://user-images.githubusercontent.com/21262298/179668349-f4daa982-85e1-4e32-9927-457932946cfb.png">

[2022-07-19 17:34] alanhamlett commented on #131
That message means Visual Studio is trying to install the 32-bit version of the WakaTime extension when your OS is 64-bit.

[2022-07-19 20:09] tpesl commented on #131
Other extensions works normally. How can I force WakaTime to install 64-bit version?

[2022-07-21 19:07] notflask opened #132 "Cannot install plugin on Visual Studio 2022"

[2022-07-21 20:13] gandarez commented on #132
Hi @notflask please do provide more rich information rather than the title. Could you please follow our troubleshooting guide and paste here the logs you encounter?

https://github.com/wakatime/visualstudio-wakatime#troubleshooting

[2022-07-21 20:15] notflask commented on #132
![image](https://user-images.githubusercontent.com/78703851/180307068-839730c2-402e-48aa-9c3a-380b3d538fd1.png)
i'm just trying to install plugin from .vsix but i got an error

[2022-07-21 20:19] notflask commented on #132
tried to install from Extension > Manage Extensions > Online > Visual Studio Marketplace and it got installed, but why it won't install from .vsix file?

[2022-08-27 09:37] yekanchi opened #133 "Does not work in air-gapped offline enviroment"
I have a Wakapi local service which is exactly like wakatime server.
other IDEs like Intellij and VsCode work fine but this extension does not work with wakapi.

[2022-08-30 02:28] davkean opened #134 "WakaTime extension hangs Visual Studio on shutdown"
Hey folks, I'm from the Visual Studio perf and reliability team, and our telemetry shows that WakaTime is hanging Visual Studio on shutdown via the following path, causing folks to kill Visual Studio via Task Manager.

[code]
This is occuring because WakaTime is making a network request without passing through the cancellation token through to HttpClient. Please pass through the cancellation token

[2022-09-12 14:00] guibranco commented on #108
@gandarez hello, any update on this ?

[2022-09-14 12:11] leemcmullen commented on #131
@alanhamlett @tpesl I'm getting the same issue. Wondered if there's a workaround yet? 🤞

Let me know if I can help to troubleshoot further or I can provide any info to help 👍

[2022-11-17 05:09] JaiganeshKumaran opened #135 "ARM64 support"
Visual Studio now natively supports Windows on ARM. Please add ARM64 support to the extension.

[2022-11-28 07:13] Caeden117 opened #136 "API key input cuts off full API key"
Recently, WakaTime API keys have been prefixed with `waka_`. However, the Visual Studio plugin does not appear to account for this new prefix, as the last 5 characters of the full API key are cut when pasting directly from the WakaTime website. This results in an invalid API key, but can be worked around by copying the API key without the `waka_` prefix.

I am using WakaTime `13.0.0` with Visual S

[2022-11-28 07:57] alanhamlett commented on #136
For now, remove the `waka_` prefix. We'll get this fixed soon.

[2022-11-28 08:08] alanhamlett commented on #136
Fixed with 59e55f34f29b8051413312aa5d371fe9722f1bb3, but still need a release to the marketplace.

[2022-11-28 08:12] Caeden117 commented on #136
Thanks for the fast response and fix! Wasn't sure if this plugin was still being actively maintained.